@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<!-- Page breadcrumb -->*@
    <section id="mu-page-breadcrumb" style="background-image: url(/img/pharmaceuticals/pharmaceutical_productions.jpg); height: 350px; ">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-page-breadcrumb-area">
                        <br /><br />
                        <h1>PHARMACEUTICAL PRODUCTION</h1>
                        <ol class="breadcrumb">
                            <li><a href="#">Industries</a></li>
                            <li class="active">Pharmaceutical Productions</li>
                            <br /> <br />
							<li><b>PROVIDING PERMANENT QUALITY CONTROL FOR THE DEMANDING PHARMACEUTICAL INDUSTRY</b></li>
							<br /><br />
                            <li><a href="mailto:info@colvistec.de?subject=Request via  Webpage"><input type="submit" value="Learn more" class="mu-post-btn" name="submit"></a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    @*<!-- End breadcrumb -->*@
    <section id="mu-course-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-course-content-area">
                        <div class="row">
                            <div class="col-md-12 mb-25">
                                @*<!-- start course content container -->*@
                                <div class="mu-course-container mu-course-details">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="mu-latest-course-single">
                                                <div class="mu-latest-course-single-content">
                                                    <center>
														<h2>ABOUT</h2>
                                                    </center>
                                                    <p>We provide serious quality control to factories that work in the pharmaceutical industry. Our company detects all common problems that might occur during the manufacturing process such as monitoring of crystallization, API stability, yellowing, and other forms of quality degradation, residence time, API’s shear and temperature exposure, etc. Below you can find more details on the technical side of the defined problems, including data that shows you how and when exactly you can discover those issues with our hardware & software solutions installed to your plant. With our extensive portfolio of precise instruments, you can be sure to receive constant and accurate measurements that ensure your compliance with government regulations and product specifications. </p>
													<img src="~/img/pharmaceuticals/inline.jpg" width="100%" />     
                                                    <p>Inline measurements can be performed at the first possible moment in the process stream without disturbing the running process, while offline measurements must be performed in the laboratory.</p> 
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*<!-- end course content container -->*@


                                @*<!-- start course content container -->*@
                                <div class="mu-course-container mu-course-details">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="mu-latest-course-single">
												<div class="mu-latest-course-single-content">
													<figure class="mu-latest-course-img">
                                                    <hr />
                                                    <center>
														<h3>PRODUCTION</h3>
														<b>EFFECTS RESULTING FROM PROCESS PARAMETERS IN CONTINUOUS PRODUCTION PROCESSES</b>
													</center><br />
                                                    <img src="~/img/pharmaceuticals/musice.jpg" alt="img" width="100%">
                                                    <img src="~/img/pharmaceuticals/production_colvistec.jpg" alt="img" width="100%">
													<hr/>
													</figure>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*<!-- end course content container -->*@

                                @*<!-- start course content container -->*@
                                <div class="mu-course-container mu-course-details">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="mu-latest-course-single">
												<div class="mu-latest-course-single-content">
													<figure class="mu-latest-course-img">
                                                   
														<center>
															<h3>FIBER OPTIC PROBES</h3>
															<b>HOW WE ASSEMBLE OUR TECHNOLOGY</b>
														</center>
														<br />
														<p>
															ColVisTec's technology doesn't interfere with the production process; we install our fiber optic probes to the existent hardware already connected at your factory. Our probes can handle substantial distances (up to 20 meters) between the spectroscopy system and your measurement point. One system can be used for two independent production lines at a time. It allows you to continuously measure the manufactured substance every 10 seconds or less directly in the process without sampling, without interrupting the production line, and without delays. This, in turn, maximizes the efficiency of the manufacturing process and minimizes costs at the same time.
														</p>
														<br/>
														<br/>
                                                        <img src="~/img/pharmaceuticals/REFLECTION-POLYMER-MELT-PRO.jpg" alt="img" width="100%">
														<br/>
														<hr/>
														<br/>
														<center><h3>REFLECTION POLYMER MELT PROBE (RPMP)</h3></center>
														<table>
															<tr valign="top">
																<td>
																	<font size="-1">
																	<ol>
																		<li>Probe tip: standard thread 1/2”-20 UNF </li>
																		<li>Sapphire window</li>
																		<li>Separate fiber optic for easy calibration</li>
																		<li>Temperature: ≤ 325 °C </li>
																		<li>Pressure: ≤ 200 bar </li>
																		<li>Standard fiber length: 5 m</li>
																		<li>Maximum fiber length: 20 m</li>
																	</ol>
																</font>
                                                            </td>
                                                            <td>
																<center>
                                                                    <img src="~/img/pharmaceuticals/POLYMER-MELT-PROBE.jpg" alt="img" width="95%">
																</center>
                                                                <font size="-2">
                                                                (1) The RPMP probe installed on (2) the extruder. For example, in the die-plate.
                                                                </font>
                                                            </td>
                                                        </tr>
                                                    </table>
													
                                                    <br />
                                                    <center><b>APPLICATION USE</b></center>
                                                    <br />
                                                    <p>RPMP probes are used to measure opaque materials such as molten polymers, chemicals, pharmaceuticals, as well as powders. This probe is specially designed to withstand the high temperature and pressure often found in extruders, though it can also be installed in other types of manufacturing machinery.</p>
													<hr/>
													<br />
                                                    <center>
														<h3>INSTALLATION OF THE RPMP PROBE BODY IN EXTRUDER</h3>
														<table>
															<tr>
                                                                <td>
                                                                    <img src="~/img/pharmaceuticals/1.jpg" alt="img" width="300">
																	<center><font size=-1>1</font></center>
																</td>
																<td>&nbsp;&nbsp;&nbsp;</td>
                                                                <td>
                                                                    <img src="~/img/pharmaceuticals/2.jpg" alt="img" width="300">
																	<center><font size=-1>2</font></center>
																</td>
															</tr>
															<tr>
																<td></td>
																<td>&nbsp;</td>
																<td></td>
															</tr>
															<tr>
																<td>
                                                                    <img src="~/img/pharmaceuticals/3.jpg" alt="img" width="300">
																	<center><font size=-1>3</font></center>
																</td>
																<td>&nbsp;&nbsp;&nbsp;</td>
																<td>
                                                                    <img src="~/img/pharmaceuticals/4.jpg" alt="img" width="300">
																	<center><font size=-1>4</font></center>
																</td>
															</tr>
															<tr>
																<td></td>
																<td>&nbsp;</td>
																<td></td>
															</tr>
															<tr valign="top">
																<td>
																	<font size="-1">
																	1. A free thread 1⁄2“-20 UNF is required
																	<br />
																	2. Fix the probe body in the thread
																	</font>
                                                                </td>
																<td></td>
																<td>
																	<font size="-1">
																	3. Place and fix fiber optic in the probe body
																	<br />
																	4. Probe tip with the sapphire window is ca. 5 mm in the<br /> extruder body 
																	</font>
																</td>
															</tr>
														</table>
                                                    </center>

													<hr />
                                                    <br/>
                                                    <center><h3>THE SOFTWARE FOR PRECISE QUALITY CONTROL</h3></center>
                                                    <p>Our technology can be customized for a wide variety of processes, offering data output in various formats, and excellent integration with the hardware solutions already in place. Scroll down to read the full technical details of each software package we offer and leverage it to your advantage.</p>
													</figure>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*<!-- end course content container -->
                                 <!-- start course content container -->*@
                                <div class="mu-course-container mu-course-details">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="mu-latest-course-single">
												<div class="mu-latest-course-single-content">
													<figure class="mu-latest-course-img"></figure>
														<table>
															<tr valign="top">
																<td> <img src="~/img/pharmaceuticals/reta_software.jpg" alt="img"></td>
																<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
																<td>
																	<b>SOFTWARE</b>
																	<h4>ReTA</h4>
																	<p>ReTA helps to gather a growing bunch of log files with RTM data, extract concentration data from the spectrometric data, discover the RTM segments and their textual descriptions, align the beginnings, synchronize the proceedings, filter out noise, combine selected subsets for averaging, estimate asymptotic behavior, convert the resulting curve into a viable approximation of a probability distribution, display the result, and derive further statistics from that, including estimates of percentile times.</p>
																	<a href="mailto:info@colvistec.de?subject=Request via  Webpage"><input type="submit" value="Contact us" class="mu-post-btn" name="submit"></a>
																</td>
                                                             </tr>
														</table>
														<hr />

														<table>
															<tr valign="top">
																<td>
																	<b>SOFTWARE</b>
																	<h4>SpecViewer</h4>
																	<p>SpecViewer is a tool designed to display and navigate the sequences of spectra in an intuitive way, presenting both overview and details graphically and assisting analysis by offering common transformations that emphasize relations between spectra. The human-visible color associated with each spectrum is directly visualized by presenting the spectral curve itself in that color.</p>
																	<a href="mailto:info@colvistec.de?subject=Request via  Webpage"><input type="submit" value="Contact us" class="mu-post-btn" name="submit"></a>
																</td>
																<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                        <td> <img src="~/img/pharmaceuticals/SpecViewer.jpg" alt="img"></td>
															</tr>
														</table>
													
												</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*<!-- end course content container -->*@
                            
                                @*<!-- start course content container -->*@
                                <div class="mu-course-container mu-course-details">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="mu-latest-course-single">
												<div class="mu-latest-course-single-content">
													<figure class="mu-latest-course-img">
														<hr />
														<center>
															<b>PROCESS DEVELOPMENT IN EXTRUSION</b>
															<h3>INNOVATIVE, EASY, AND FAST RESIDENCE TIME DETERMINATION</h3>
														</center>
                                                    <img src="~/img/pharmaceuticals/PROCESS-DEVELOPMENT-IN-EXTR.jpg" width="100%" alt="img">
													
														<ul>
															<li>• Very short measurement interval of 500 ms</li>
															<li>• Detection of residence time significantly faster and less cumbersome than old methods</li>
															<li>• Try to do that with chromatography or the "ash method"</li>
														</ul>
														<font size="-2">Made in cooperation with Leistritz Extrusionstechnik GmbH, Nürnberg </font>
													</figure>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*<!-- end course content container -->*@

                                @*<!-- start course content container -->*@
                                <div class="mu-course-container mu-course-details">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="mu-latest-course-single">
												<div class="mu-latest-course-single-content">
													<figure class="mu-latest-course-img">
														<hr />
														<center>
															<b>PROCESS DEVELOPMENT – R&D </b>
															<h3>IN-SITU RESIDENCE TIME DETERMINATION</h3>
														</center>
                                                    <img src="~/img/pharmaceuticals/IN-SITU-RESIDENCE.jpg" width="100%" alt="img">
													
                                                        <ul>
															<li>• More data points with short measurement (500 ms)  </li>
															<li>• Accurate measurement</li>
															<li>• Better than known methods e. g. chromatography or the "ash method"</li>
														</ul>
													</figure>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*<!-- end course content container -->*@

                                @*<!-- start course content container -->*@
                                <div class="mu-course-container mu-course-details">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="mu-latest-course-single">
												<div class="mu-latest-course-single-content">
                                                    <hr />
                                                    <center>
														<b>PROCESS DEVELOPMENT IN EXTRUSION</b>
														<h3>FIND THE PERFECT SCREW CONFIGURATION</h3>
                                                    </center>
                                                    <center>
														<b>SCREW CONFIGURATION #1<br />
														UNEVEN PROCESSING FOR ALL THREE SPEEDS</b>
													</center>
                                                <img src="~/img/pharmaceuticals/SCREW-CONFIGURATION.jpg" width="100%" alt="img">
                                                    <center>
														<b>SCREW CONFIGURATION #2<br />
														UNEVEN PROCESSING FOR ALL THREE SPEEDS</b>
													</center>
                                                <img src="~/img/pharmaceuticals/SCREW-CONFIGURATION2.jpg" width="100%" alt="img">
													<ul>
														<li>• Identical recipe</li>
														<li>• Two screw configurations</li>
														<li>• Three different rates of speed</li>
														<li>• t0: Tracer added</li>
														<li>• t1, t2, t3: First detection of color change at the die plate (depending on speed)</li>
													</ul>
													<font size="-2">Made in cooperation with Leistritz Extrusionstechnik GmbH, Nürnberg </font>         
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*<!-- end course content container -->*@

                                @*<!-- start course content container -->*@
                                <div class="mu-course-container mu-course-details">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="mu-latest-course-single">
												<div class="mu-latest-course-single-content">                                               
                                                    <hr />
                                                    <center>
														<b>RESEARCH & DEVELOPMENT</b>
														<h3>FIND THE OPTIMAL SPEED WINDOW FOR YOUR FEEDER ELEVATION</h3>
                                                    </center>
                                                    <center>
														<b>SPEED 300 rpm <br />
														PERFECT DISPERSION & HOMOGENEITY</b>
													</center>
                                                <img src="~/img/pharmaceuticals/PERFECT-DISPERSION-HOMOGE.jpg" width="100%" alt="img">
													<br />
													It's the optimal speed (300 rpm) for this recipe.
													<br /> <br />
                                                <img src="~/img/pharmaceuticals/perfa.jpg" width="100%" alt="img">
													<ul>
														This speed (600 rpm) is too fast for this recipe.
														<li>• Identical base material</li>
														<li>• Two different rates of speed</li>
														<li>• Five concentrations</li>
													</ul>
													<br />
													<center><b>OUR TECHNOLOGY WILL HELP YOU WITH</b></center>
													<ol>
														<li>Identification of optimal speed</li>
														<li>Determination of optimal dispersion and homogeneity</li>
														<li>Detection of dosage elevations – even very small elevations are detected</li>
														<li>Identification of off-spec batches (waste and contamination) </li>
													</ol>    
													<font size="-2">Made in cooperation with Leistritz Extrusionstechnik GmbH, Nürnberg </font>
												</div>													
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*<!-- end course content container -->*@

                                @*<!-- start course content container -->*@
                                <div class="mu-course-container mu-course-details">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="mu-latest-course-single">
                                                <div class="mu-latest-course-single-content">
                                                    <hr />
                                                    <h2 class="text-center">DO YOU HAVE ANY QUESTIONS? ASK US TODAY!</h2>
                                                    <center>
														<a href="mailto:info@colvistec.de?subject=Request via  Webpage"><input type="submit" value="Contact us" class="mu-post-btn" name="submit"></a>
                                                    </center>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*<!-- end course content container -->*@
                            </div>
                            <div class="col-md-12">
                                <partial name="IndustryNavPartial" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>