@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<!-- Page breadcrumb -->*@
    <section id="mu-page-breadcrumb" style="background-image: url(/img/plastic/plastic_and_polymers.jpg); height: 350px; ">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-page-breadcrumb-area">
                        <br /><br />
                        <h1>PLASTIC & POLYMERS</h1>
                       
                        <ol class="breadcrumb">
                            <li><a href="#">Industries</a></li>
                            <li class="active">Plastic & Polymers</li>
                            <br /> <br />
							<li><b>IMPROVE THE SAFETY, QUALITY, AND PRODUCTIVITY OF YOUR MANUFACTURING PROCESS</b></li>
							<br /><br />
                            <li><a href="mailto:info@colvistec.de?subject=Request via  Webpage"><input type="submit" value="Learn more" class="mu-post-btn" name="submit"></a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    @*<!-- End breadcrumb -->*@
    <section id="mu-course-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-course-content-area">
                        <div class="row">
                            <div class="col-md-12 mb-25">
                                @*<!-- start course content container -->*@
                                <div class="mu-course-container mu-course-details">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="mu-latest-course-single">
                                               
                                                <div class="mu-latest-course-single-content">
                                                    <center>
														<h2>About</h2>
													</center>
                                                    <p>At ColVisTec, we provide greater quality control for manufacturers that work in the plastics & polymers industry. Our company detects all of the typical ranges of problems that might arise during the manufacturing process, such as color matching, process stability, polymer composition, yellowing, and other forms of quality degradation, hardware performance due to wear and tear, screw optimization, residence time measurement, etc. Below you can find more details on the technical side of the aforementioned problems, including data that shows you how and when exactly you can discover those issues with our hardware & software solutions installed to your plant. With our wide portfolio of precise instruments, you can be sure to receive continuous and correct measurements that ensure your compliance with government regulations and product specifications. </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*<!-- end course content container -->*@

                                @*<!-- start course content container -->*@
                                <div class="mu-course-container mu-course-details">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="mu-latest-course-single">
												<div class="mu-latest-course-single-content">
													<figure class="mu-latest-course-img">
                                                    <hr />
													<center>
														<h3>IMPROVE YOUR PROCESS MONITORING WITH OUR INLINE UV-VIS SPECTROPHOTOMETRY-BASED SYSTEM</h3>
													</center><br />
                                                    <img src="~/img/plastic/UV-VIS-SPECTROPHOTOMETRY-BA.jpg" alt="img" width="100%">
													<p>Our inline UV-Vis spectrometry-based technology continuously detects all the factors that influence your manufacturing process' accuracy & efficiency. You can automatically analyze all your production output directly in melt, liquids, powder, and paste without any preparation and onerous sampling, which can significantly increase the overall productivity and flexibility of your technology plant.</p>
                                                    <img src="~/img/plastic/UV-VIS-SPECTROPHOTOMETRY.jpg" alt="img" width="100%">
													</figure>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*<!-- end course content container -->*@

                                @*<!-- start course content container -->*@
                                <div class="mu-course-container mu-course-details">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="mu-latest-course-single">
												<div class="mu-latest-course-single-content">
													<figure class="mu-latest-course-img">
                                                    <hr />
                                                    <center>
														<h3>INLINE MEASUREMENTS PROVIDE MUCH-IMPROVED SPEED AND FREQUENCY FOR YOUR PROCESS MONITORING</h3>
													</center><br />
                                                    <img src="~/img/plastic/INLINE-MEASUREMENTS.jpg" alt="img" width="100%">
													</figure>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*<!-- end course content container -->*@

                                @*<!-- start course content container -->*@
                                <div class="mu-course-container mu-course-details">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="mu-latest-course-single">
												<div class="mu-latest-course-single-content">
													<figure class="mu-latest-course-img">
                                                    <hr />
                                                    <center>
														<h3>ADVANTAGES THAT WE OFFER</h3>
													</center><br />
                                                    <img src="~/img/plastic/ADVANTAGES-THAT-WE-OFFER.jpg" alt="img" width="100%">
													</figure>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*<!-- end course content container -->*@

                                @*<!-- start course content container -->*@
                                <div class="mu-course-container mu-course-details">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="mu-latest-course-single">
												<div class="mu-latest-course-single-content">
													<figure class="mu-latest-course-img">
                                                    <hr />
                                                    <img src="~/img/plastic/FIBER-OPTIC-PROBES.jpg" alt="img" width="100%">
                                                </figure>
												</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*<!-- end course content container -->*@

                                @*<!-- start course content container -->*@
                                <div class="mu-course-container mu-course-details">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="mu-latest-course-single">
												<div class="mu-latest-course-single-content">
													<figure class="mu-latest-course-img">
                                                    <hr />
                                                    <center>
														<b>FIBER OPTIC PROBES</b>
														<h3>HOW WE ASSEMBLE OUR TECHNOLOGY</h3>
													</center><br />
                                                   
                                                   <p>ColVisTec's technology doesn't interfere with the production process; we install our fiber optic probes to the existent hardware already connected in your factory. Our probes can handle substantial distances (up to 20 meters) between the spectroscopy system and your measurement point. One system can be used for two independent production lines at a time. It allows you to continuously measure the manufactured substance every 10 seconds or less directly in the process without sampling, without interrupting the production line, and without delays. This, in turn, maximizes the efficiency of the manufacturing process and minimizes costs at the same time.</p>
                                                    <table>
                                                        <tr>
                                                            <td> <img src="~/img/plastic/4.jpg" alt="img" width="100%"></td>
                                                            <td>&nbsp;</td>
                                                            <td><img src="~/img/plastic/5.jpg" alt="img" width="100%"></td>
                                                        </tr>
                                                    </table>
                                                    <br />
                                                    <center><h3>REFLECTION POLYMER MELT PROBE (RPMP)</h3></center>
                                                    <table>
                                                        <tr valign="top">
                                                            <td>
                                                                <font size="-1">
                                                                <ol>
																	<li>Probe tip: standard Dynisco thread 1/2”-20 UNF </li>
																	<li>Sapphire window (self cleaning by material flow)</li>
																	<li>Separate fiber optic for easy calibration</li>
																	<li>Temperature: ≤ 350 °C </li>
																	<li>Pressure: ≤ 200 bar </li>
                                                                </ol>
                                                               </font>
                                                            </td>
                                                            <td>
																<center>
                                                                    <img src="~/img/pharmaceuticals/POLYMER-MELT-PROBE.jpg" alt="img" width="100%">
                                                                </center>
																<font size="-2">
                                                                (1) The RPMP probe installed on (2) the extruder. For example, in the die-plate.
                                                                </font>
                                                            </td>
                                                            <td>
                                                                <font size="-1">
                                                                <ol>
																	<li>Illumination with xenon flash lamp</li>
                                                                    <li>Six circumferential positioned glass fibers for illumination</li>
                                                                    <li>Center positioned fiber for reflectance</li>
                                                                    <li>Standard fiber length: 5 m</li>
                                                                    <li>Maximum fiber length: 20 m</li>
                                                                </ol>
                                                                </font>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <br />
                                                    <center><b>APPLICATION USE</b></center>
                                                    <br />
                                                    <p>RPMP probes are used to measure opaque materials such as molten polymers, chemicals, pharmaceuticals, as well as powders. This probe is specially designed to withstand the high temperature and pressure often found in extruders, though it can also be installed in other types of manufacturing machinery.</p>
													<br />

													<center>
														<h3>INSTALLATION OF THE RPMP PROBE BODY IN EXTRUDER</h3>
														<table>
															<tr>
																<td>
                                                                    <center><img src="~/img/pharmaceuticals/1.jpg" alt="img" width="300"></center>
																	<center><font size="-1">1</font></center>
																</td>
																<td>&nbsp;&nbsp;&nbsp;</td>
																<td>
                                                                    <center><img src="~/img/pharmaceuticals/2.jpg" alt="img" width="300"></center>
																	<center><font size="-1">2</font></center>
																</td>
															</tr>
															<tr>
																<td></td>
																<td>&nbsp;</td>
																<td></td>
															</tr>
															<tr>
																<td>
                                                                    <center><img src="~/img/pharmaceuticals/3.jpg" alt="img" width="300"></center>
																	<center><font size="-1">3</font></center>
																</td>
																<td>&nbsp;&nbsp;&nbsp;</td>
																<td>
                                                                    <center><img src="~/img/pharmaceuticals/4.jpg" alt="img" width="300"></center>
																	<center><font size="-1">4</font></center>
																</td>
															</tr>
															<tr>
																<td></td>
																<td>&nbsp;</td>
																<td></td>
															</tr>
															<tr valign="top">
																<td>
																	<font size="-1">
																	1. A free thread 1⁄2“-20 UNF is required
																	<br />
																	2. Fix the probe body in the thread
																	</font>
																</td>
																<td></td>
																<td>
																	<font size="-1">
																	3. Place and fix fiber optic in the probe body
																	<br />
																	4. Probe tip with the sapphire window is ca. 5 mm in the
																	<br /> extruder body 
																	</font>
																</td>
															</tr>
														</table>
													</center>
												
												<center>
													<h3>RECOMMENDED PROBE LOCATIONS FOR THE RPMP BODY FITTED IN EXTRUDERS</h3>
                                                </center>
                                                    <table>
                                                        <tr valign="top">
                                                            <td><img src="~/img/plastic/7.jpg" alt="img" width="270"></td>
                                                            <td>&nbsp;</td>
                                                            <td>
																<table>
                                                                    <tr>
                                                                        <td><img src="~/img/plastic/8.jpg" alt="img" width="220"></td>
                                                                    </tr>
                                                                    <tr>
                                                                         <td>&nbsp;</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><img src="~/img/plastic/9.jpg" alt="img" width="220"></td>
                                                                    </tr>
                                                                </table>
															</td>
                                                            <td>&nbsp;</td>
                                                            <td><img src="~/img/plastic/10.jpg" alt="img" width="270"></td>
                                                        </tr>
                                                        <tr>
                                                             <td colspan="5">&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="5">
                                                                <img src="~/img/plastic/11.jpg" alt="img" width="800">
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <hr />
													</figure>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end course content container -->

                                <!-- start course content container -->
                                <div class="mu-course-container mu-course-details">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="mu-latest-course-single">
												<div class="mu-latest-course-single-content">
													<figure class="mu-latest-course-img">
                                                    <hr />
                                                    <center><b>PROCESS DEVELOPMENT IN EXTRUSION</b>
                                                    
														<h3>INNOVATIVE, EASY, AND FAST RESIDENCE TIME DETERMINATION</h3>
                                                    </center>
                                                    <img src="~/img/pharmaceuticals/PROCESS-DEVELOPMENT-IN-EXTR.jpg" width="100%" alt="img">
                                                   </figure>
													<ul>
														<li>• Very short measurement interval of 500 ms</li>
														<li>• Detection of residence time significantly faster and less cumbersome than old methods</li>
														<li>• Try to do that with chromatography or the "ash method"</li>
													</ul>
                                                 <font size="-2">Made in cooperation with Leistritz Extrusionstechnik GmbH, Nürnberg </font>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end course content container -->

                                 <!-- start course content container -->
                                <div class="mu-course-container mu-course-details">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="mu-latest-course-single">
												<div class="mu-latest-course-single-content">
                                                    <hr />
                                                    <center><b>PROCESS DEVELOPMENT IN EXTRUSION</b>
														<h3>FIND THE PERFECT SCREW CONFIGURATION</h3>
                                                    </center>
                                                    <center>
														<b>SCREW CONFIGURATION #1<br />
														UNEVEN PROCESSING FOR ALL THREE SPEEDS</b>
													</center>
                                                    <img src="~/img/pharmaceuticals/SCREW-CONFIGURATION.jpg" width="100%" alt="img">
                                                    <center>
														<b>SCREW CONFIGURATION #2<br />
														UNEVEN PROCESSING FOR ALL THREE SPEEDS</b>
													</center>
                                                    <img src="~/img/pharmaceuticals/SCREW-CONFIGURATION2.jpg" width="100%" alt="img">
													<ul>
														<li>• Identical recipe</li>
														<li>• Two screw configurations</li>
														<li>• Three different rates of speed</li>
														<li>• t0: Tracer added</li>
														<li>• t1, t2, t3: First detection of color change at the die plate (depending on speed)</li>
													</ul>
													<font size="-2">Made in cooperation with Leistritz Extrusionstechnik GmbH, Nürnberg </font>         
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end course content container -->

                                <!-- start course content container -->
                                <div class="mu-course-container mu-course-details">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="mu-latest-course-single">
												<div class="mu-latest-course-single-content">
													<hr />
                                                    <center>
														<b>RESEARCH & DEVELOPMENT</b>
														<h3>FIND THE OPTIMAL SPEED WINDOW FOR YOUR FEEDER ELEVATION</h3>
                                                    </center>
                                                    <center>
														<b>SPEED 300 rpm 
														<br />
														PERFECT DISPERSION & HOMOGENEITY</b>
													</center>
                                                    <img src="~/img/pharmaceuticals/PERFECT-DISPERSION-HOMOGE.jpg"  width="100%" alt="img">
													<br />It's the optimal speed (300 rpm) for this recipe.
													<br /> <br />
                                                <img src="~/img/pharmaceuticals/perfa.jpg" width="100%" alt="img">
													<ul>
														This speed (600 rpm) is too fast for this recipe.
														<li>• Identical base material</li>
														<li>• Two different rates of speed</li>
														<li>• Five concentrations</li>
													</ul>
													<br />
													<center><b>OUR TECHNOLOGY WILL HELP YOU WITH</b></center>    
                                               
													<ol>
														<li>Identification of optimal speed</li>
														<li>Determination of optimal dispersion and homogeneity</li>
														<li>Detection of dosage elevations – even very small elevations are detected</li>
														<li>Identification of off-spec batches (waste and contamination) </li>
													</ol>    
													<font size="-2">Made in cooperation with Leistritz Extrusionstechnik GmbH, Nürnberg </font> 
												</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*<!-- end course content container -->*@

                                @*<!-- start course content container -->*@
                                <div class="mu-course-container mu-course-details">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="mu-latest-course-single">
												<div class="mu-latest-course-single-content">
													<hr />
                                                    <center>
														<b>INLINE MEASUREMENT WITH A SPECTROPHOTOMETER</b>
														<h3>OSCILLATION OF L* AND B*</h3>
                                                    </center>
                                                    <center>
														<b>HOMOGENOUS RESULT <br /></b>
													</center>
                                                    <img src="~/img/plastic/BLENDING-PROBLEM.jpg" style="width:100%" alt="img">
													<br />Changing of mixing elements (screw) solved the problem.
													<br /> <br /> 
													<img src="~/img/plastic/BLENDING-PROBLEM2.jpg" style="width:100%" alt="img">
													<br />Detected via our inline UV-Vis spectrophotometry-based process monitoring system.                                                
                                               </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*<!-- end course content container -->*@

                                @*<!-- start course content container -->*@
                                <div class="mu-course-container mu-course-details">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="mu-latest-course-single">
												<div class="mu-latest-course-single-content">
													<hr />
                                                    <center>
														<b>INLINE MEASUREMENT WITH A SPECTROPHOTOMETER</b>                                                    
														<h3>THE BLENDING PROBLEM WHEN USING DIFFERENT MATERIALS</h3>
                                                    </center>
                                                    <center>
														<b>13:05 to 17:30h<br /></b>
													</center>
                                                    <img src="plastic/BLENDING-PROBLEM3.jpg" style="width:100%" alt="img">
													<ol>
														<li>Very homogenous result with this screw configuration and this material composition.</li>
														<li>Color and material change.</li>
														<li>Different material composition generates noisy results with the same extruder screw as before.</li>
													</ol>
												</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*<!-- end course content container -->*@

                                @*<!-- start course content container -->*@
                                <div class="mu-course-container mu-course-details">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="mu-latest-course-single">
                                                <div class="mu-latest-course-single-content">
                                                    <hr />
                                                    <h2 class="text-center">DO YOU HAVE ANY QUESTIONS? ASK US TODAY!</h2>
                                                    
                                                    <center>
														<a href="mailto:info@colvistec.de?subject=Request via  Webpage"><input type="submit" value="Contact us" class="mu-post-btn" name="submit"></a>
                                                    </center>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*<!-- end course content container -->*@
                               
                            </div>
                            <div class="col-md-12">
                                <partial name="IndustryNavPartial" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>