@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}
@*<!-- Page breadcrumb -->*@
    <section id="mu-page-breadcrumb" style="background-image: url(/img/industries/process_control.jpg); height: 350px; ">
        <div class="container">
            <div class="row" >
                <div class="col-md-12" >
                    <div class="mu-page-breadcrumb-area">
                        <br /><br />
                        <h1>PROCESS CONTROL</h1>
                        <ol class="breadcrumb">
                            <li><a href="#">Industries</a></li>
                            <li class="active">Process Control</li>
                            <br /> <br />
                           <li><b>COLVISTEC OFFERS ADVANCED HARDWARE & SOFTWARE SOLUTIONS TO A DIVERSE RANGE OF INDUSTRIES</b></li>
                        <br /><br />
                            <li><a href="mailto:info@colvistec.de?subject=Request via  Webpage"><input type="submit" value="Learn more" class="mu-post-btn" name="submit"></a></li>
                        </ol>
                       
                    </div>
                </div>
            </div>
        </div>
    </section>
    @*<!-- End breadcrumb -->*@
    <section id="mu-course-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-course-content-area">
                        <div class="row">
                            <div class="col-md-12 mb-25">
                                @*<!-- start course content container -->*@
                                <div class="mu-course-container mu-course-details">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="mu-latest-course-single">
                                                <figure class="mu-latest-course-img">
                                                <a href="/industry/pharmaceutical_production"><img src="~/img/industries/pharmaceutical-production.jpg" alt="img"></a>
                                                   
                                                </figure>
                                                <div class="mu-latest-course-single-content">
                                                    <h2><a href="/industry/pharmaceutical_production">INDUSTRY</a></h2>
                                                    
                                                    <h4>PHARMACEUTICALS</h4>
                                                    <p>Meet the rigorous requirements of the pharmaceutical industry with the hardware solutions and analytical software provided by ColVisTec. We have a broad experience supporting pharmaceutical manufacturers with the quality control of their output during manufacturing with the help of in-line UV-Vis spectroscopy.</p>
                                                    <a href="/industry/pharmaceutical_production">Learn more</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*<!-- end course content container -->*@

                                @*<!-- start course content container -->*@
                                <div class="mu-course-container mu-course-details">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="mu-latest-course-single">
                                                <figure class="mu-latest-course-img">
                                                    <a href="/industry/plastic_ploymers"><img src="~/img/industries/polymer-extrusion.jpg" alt="img"></a>
                                                   
                                                </figure>
                                                <div class="mu-latest-course-single-content">
                                                <h2><a href="/industry/plastic_ploymers">INDUSTRY</a></h2>
                                                    
                                                    <h4>PLASTICS & POLYMERS</h4>
                                                    <p>The demand for the highest level of confidence in results by the plastics & polymers industry requires an unparalleled level of precision. That's why you can rely on ColVisTec's hardware and software solutions when it comes to the in-line quality control of your manufacturing process. </p>
                                                    <a href="/industry/plastic_ploymers">Learn more</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*<!-- end course content container -->*@

                                @*<!-- start course content container -->*@
                                <div class="mu-course-container mu-course-details">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="mu-latest-course-single">
                                                <figure class="mu-latest-course-img">
                                                    <a href="/industry/chemical_manufacturing"><img src="~/img/industries/chemical-manufacturing.jpg" alt="img"></a>
                                                   
                                                </figure>
                                                <div class="mu-latest-course-single-content">
                                                <h2><a href="/industry/chemical_manufacturing">INDUSTRY</a></h2>
                                                    
                                                    <h4>CHEMICALS</h4>
                                                    <p>ColVisTec can supply a variety of analytical systems for chemical analysis and detection of any errors and anomalies that might happen during the manufacturing process. With our help, it's far easier to ensure that your products always comply with international standards in the chemicals industry. </p>
                                                    <a href="/industry/chemical_manufacturing">Learn more</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*<!-- end course content container -->*@

                                @*<!-- start course content container -->*@
                                <div class="mu-course-container mu-course-details">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="mu-latest-course-single">
                                                <figure class="mu-latest-course-img">
                                                    <a href="/industry/paint_coatings"><img src="~/img/industries/coating-manufacturing.jpg" alt="img"></a>
                                                   
                                                </figure>
                                                <div class="mu-latest-course-single-content">
                                                <h2><a href="/industry/paint_coatings">INDUSTRY</a></h2>
                                                    
                                                    <h4>PAINT & COATINGS</h4>
                                                    <p>We aid you to maximize the effectiveness of your manufacturing process via accurate in-line quality control. You can avoid any errors and faultiness that might take place during the production process because our equipment was designed specifically to follow the highest standards of the paint & coatings industry.</p>
                                                    <a href="/industry/paint_coatings">Learn more</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*<!-- end course content container -->*@

                                @*<!-- start course content container -->*@
                                <div class="mu-course-container mu-course-details">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="mu-latest-course-single">
                                                
                                                <div class="mu-latest-course-single-content">
                                                    <hr />
                                                    <h2 class="text-center">DO YOU HAVE ANY QUESTIONS? ASK US TODAY!</h2>
                                                    <center>
                                                        <a href="mailto:info@colvistec.de?subject=Request via  Webpage"><input type="submit" value="Contact us" class="mu-post-btn" name="submit"></a>
                                                    </center>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*<!-- end course content container -->*@
                            </div>
                            <div class="col-md-12">
                                @*<!-- start sidebar -->*@
                                <aside class="mu-sidebar">
                                    @*<!-- start single sidebar -->*@
                                    <div class="mu-single-sidebar">
                                        <h3>Industries</h3>
                                        <ul class="mu-sidebar-catg">
                                            <li><a href="/industry/process_control">Process Control</a></li>
                                            <li><a href="/industry/plastic_ploymers">Plastic & Polymers</a></li>
                                            <li><a href="/industry/pharmaceutical_production">Pharmaceutical Production</a></li>
                                            <li><a href="/industry/paint_coatings">Paint & Coatings</a></li>
                                            <li><a href="/industry/chemical_manufacturing">Chemical Manufacturing</a></li>
                                        </ul>
                                    </div>
                                    @*<!-- end single sidebar -->*@
                                   
                                    @*<!-- start single sidebar -->*@
                                    <div class="mu-single-sidebar">
                                        <h3>Tags Cloud</h3>
                                        <div class="tag-cloud">
                                            <a href="#">inline spectroscopy</a>
                                            <a href="#">inline uv-vis spectroscopy</a>
                                            <a href="#">inline nir spectroscopy</a>
                                            <a href="#">inline process monitoring</a>
                                            <a href="#">uv-vis spectrometer</a>
                                            <a href="#">uv vis spectroscopy</a>                                           
                                            <a href="#">continuous production</a>
                                            <a href="#">pharmaceutical manufacturing</a>
                                            <a href="#">raman spectroscopy</a>
                                            <a href="#">ir spectroscopy</a>
                                        </div>
                                    </div>
                                    @*<!-- end single sidebar -->*@
                                </aside>
                                @*<!-- / end sidebar -->*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>