<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="GD5LR_aop9tKQj5HIAr_3K_Orz34Eibny3ZYYb6H6oM" />
    <title>inline spectroscopy process control in extruders - colvistec.de</title>
    <meta name="description" content="Inline spectroscopy process control in extruders for pharmaceutical, chemical, coating, polymer and plastic extrusion.">
    @*<!-- Favicon -->*@
    @*<!--<link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">-->*@
    <link href="~/css/font-awesome.css" rel="stylesheet">
    @*<!-- Bootstrap -->*@
    <link href="~/css/bootstrap.css" rel="stylesheet">
    @*<!-- Slick slider -->*@
    <link rel="stylesheet" type="text/css" href="~/css/slick.css">
    @*<!-- Fancybox slider -->*@
    <link rel="stylesheet" href="~/css/jquery.fancybox.css" type="text/css" media="screen" />
    @*<!-- Theme color -->*@
    <link id="switcher" href="~/css/theme-color/default-theme.css" rel="stylesheet">

    @*<!-- Main style sheet -->*@
    <link href="~/css/style.css" rel="stylesheet">


    @*<!-- Google Fonts -->*@
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,300,300italic,500,700' rel='stylesheet' type='text/css'>
    @RenderSection("Styles",false)

</head>
<body>
    <partial name="HeaderPartial" />
    @RenderBody()
    <footer>
        <partial name="FooterPartial" />
    </footer>

    @*<!-- jQuery library -->*@
    <script src="~/js/jquery.min.js"></script>
    @*<!-- Include all compiled plugins (below), or include individual files as needed -->*@
    <script src="~/js/bootstrap.js"></script>
    @*<!-- Slick slider -->*@
    <script type="text/javascript" src="~/js/slick.js"></script>
    @*<!-- Counter -->*@
    <script type="text/javascript" src="~/js/waypoints.js"></script>
    <script type="text/javascript" src="~/js/jquery.counterup.js"></script>
    @*<!-- Mixit slider -->*@
    <script type="text/javascript" src="~/js/jquery.mixitup.js"></script>
    @*<!-- Add fancyBox -->*@
    <script type="text/javascript" src="~/js/jquery.fancybox.pack.js"></script>

    @*<!-- Custom js -->*@
    <script src="~/js/custom.js"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
