@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<footer id="mu-footer">
    @*<!-- start footer top -->*@
    <div class="mu-footer-top">
        <div class="container">
            <div class="mu-footer-top-area">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="mu-footer-widget">
                            <h4>Navigation</h4>
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="/home/imprint">Imprint</a></li>
                                <li><a href="/home/impressum">Impressum</a></li>
                                <li><a href="/home/privacy">Privacy</a></li>
                                <li><a href="/home/terms_use">Terms of Use</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="mu-footer-widget">
                            <h4>Info</h4>
                            <address>
                                <p>
                                    ColVisTec provides inline UV-Vis, NIR, Raman spectroscopy process control in extruders for pharmaceutical, chemical, coating, polymer and plastic extrusion.
                                </p>
                            </address>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="mu-footer-widget">
                            <h4>Impax Project</h4>
                            <address>
                                <p>
                                    The IMPAX project has received funding from the European Union’s Horizon 2020 research and innovation program under the grant agreement No 726788.

                                </p>
                            </address>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="mu-footer-widget">
                            <h4>Contact</h4>
                            <address>
                                <p>
                                    Max-Planck-Str. 3
                                    12489 Berlin - Adlershof
                                    Germany
                                </p>
                                <p>Phone: +49 30 6392 7816</p>
                                <p>Website: <a href="http://www.colvistec.de/" rel="nofollow"><font color="white">Colvistec.de</font></a></p>
                                <p>Email: <a href="mailto:info@colvistec.de"><font color="white">info@colvistec.de</font></a> </p>
                            </address>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<!-- end footer top -->
    <!-- start footer bottom -->*@
    <div class="mu-footer-bottom">
        <div class="container">
            <div class="mu-footer-bottom-area">
                <p>Co-funded by the Horizon 2020 program of the European Union</p>
                <p>&copy; Copyright © 2009-2019 ColVisTec AG. All Rights Reserved.​ By using our website you agree to our Privacy Policy and Terms of Use, and give consent for us to use the cookies.</p>
            </div>
        </div>
    </div>
    @*<!-- end footer bottom -->*@
</footer>
