@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*<!-- start sidebar -->*@
<aside class="mu-sidebar">
    @*<!-- start single sidebar -->*@
    <div class="mu-single-sidebar">
        <h3>Industries</h3>
        <ul class="mu-sidebar-catg">
            <li><a href="/industry/process-control">Process Control</a></li>
            <li><a href="/industry/plastic-ploymers">Plastic & Polymers</a></li>
            <li><a href="/industry/pharmaceutical-production">Pharmaceutical Production</a></li>
            <li><a href="/industry/paint-coatings">Paint & Coatings</a></li>
            <li><a href="/industry/chemical-manufacturing">Chemical Manufacturing</a></li>
        </ul>
    </div>
    @*<!-- end single sidebar -->
    <!-- start single sidebar -->*@
    <div class="mu-single-sidebar">
        <h3>Tags Cloud</h3>
        <div class="tag-cloud">
            <a href="#">inline spectroscopy</a>
            <a href="#">inline uv-vis spectroscopy</a>
            <a href="#">inline nir spectroscopy</a>
            <a href="#">inline process monitoring</a>
            <a href="#">uv-vis spectrometer</a>
            <a href="#">uv vis spectroscopy</a>
            <a href="#">continuous production</a>
            <a href="#">pharmaceutical manufacturing</a>
            <a href="#">raman spectroscopy</a>
            <a href="#">ir spectroscopy</a>
        </div>
    </div>
    @*<!-- end single sidebar -->*@
</aside>
@*<!-- / end sidebar -->*@