@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*<!-- start sidebar -->*@
<aside class="mu-sidebar">
    @*<!-- start single sidebar -->*@
    <div class="mu-single-sidebar">
        <h3>Technology</h3>
        <ul class="mu-sidebar-catg">
            <li><a href="/technology/continuous-production">Continuous Production</a></li>
            <li><a href="/technology/process-monitoring">Process Monitoring</a></li>
            <li><a href="/technology/inline-spectroscopy">Inline Spectroscopy</a></li>
            <li><a href="/technology/industry-4-solutions">Industry 4.0. Solutions</a></li>
        </ul>
    </div>
    @*<!-- end single sidebar -->
    <!-- start single sidebar -->*@
    <div class="mu-single-sidebar">
        <h3>Tags Cloud</h3>
        <div class="tag-cloud">
            <a href="#">inline spectroscopy</a>
            <a href="#">inline uv-vis spectroscopy</a>
            <a href="#">inline nir spectroscopy</a>
            <a href="#">inline process monitoring</a>
            <a href="#">uv-vis spectrometer</a>
            <a href="#">uv vis spectroscopy</a>
            <a href="#">continuous production</a>
            <a href="#">pharmaceutical manufacturing</a>
            <a href="#">raman spectroscopy</a>
            <a href="#">ir spectroscopy</a>
        </div>
    </div>
    @*<!-- end single sidebar -->*@
</aside>
@*<!-- / end sidebar -->*@