@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<!-- Page breadcrumb -->*@
<section id="mu-page-breadcrumb" style="background-image: url(/img/software/colvistec_software.jpg); height: 350px; ">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-page-breadcrumb-area">
                    <br /><br />
                    <h1>INDUSTRY 4.0 SOLUTIONS</h1>
                    <ol class="breadcrumb">
                        <li><a href="#">Technology</a></li>
                        <li class="active">Industry 4.0. Solutions</li>
                        <br />
                        <br />
                        <li><b>WE PROVIDE REAL-TIME RESPONSE INDUSTRY 4.0 SOLUTIONS</b></li>
                        <br />
                        <br />
                        <li><a href="mailto:info@colvistec.de?subject=Request via  Webpage"><input type="submit" value="Learn more" class="mu-post-btn" name="submit"></a></li>
                </div>
            </div>
        </div>
    </div>
</section>
@*<!-- End breadcrumb -->*@
<section id="mu-course-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-course-content-area">
                    <div class="row">
                        <div class="col-md-12 mb-25">
                            @*<!-- start course content container -->*@
                            <div class="mu-course-container mu-course-details">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="mu-latest-course-single">
                                            <div class="mu-latest-course-single-content">
                                                <br />
                                                <center><h2>About</h2></center>
                                                <br />
                                                <p>
                                                    Our Industry 4.0 solutions can be customized for a wide variety of processes, offering data output in various formats, and excellent integration with the hardware solutions already in place. Scroll down to read the full technical details of each software package we offer and leverage it to your advantage.
                                                </p>
                                                ​<br />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<!-- end course content container -->
                            <!-- start course content container -->*@
                            <div class="mu-course-container mu-course-details">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="mu-latest-course-single">
                                            <figure class="mu-latest-course-img"></figure>
                                            <div class="mu-latest-course-single-content">

                                                <table>
                                                    <tr valign="top">
                                                        <td>
                                                            <b>SOFTWARE</b>
                                                            <h4>Inline Process Monitoring Software</h4>
                                                            <p>The Inline Process Monitoring Software is a system that captures transmitted or reflected light with one or two probes augmented with light sources, determines the spectral transmission or reflection curves, deduces the human-perceivable color associated with such spectra, and is able to check its deviation from a configurable expected color. </p>
                                                            <a href="mailto:info@colvistec.de?subject=Request via  Webpage"><input type="submit" value="Contact us" class="mu-post-btn" name="submit"></a>
                                                        </td>
                                                        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                        <td> <center"><img src="~/img/software/EquiColorRTM.jpg" alt="img"></center></td>
                                                    </tr>
                                                </table>
                                                <hr />
                                                <table>
                                                    <tr valign="top">
                                                        <td> <center><img src="~/img/pharmaceuticals/reta_software.jpg" alt="img"></center></td>
                                                        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                        <td>
                                                            <b>SOFTWARE</b>
                                                            <h4>ReTA</h4>
                                                            <p>ReTA (Residnece Time Analysis) helps to gather a growing bunch of log files with RTM (Residence Time Measurement) data, extract concentration data from the spectrometric data, discover the RTM segments and their textual descriptions, align the beginnings, synchronize the proceedings, filter out noise, combine selected subsets for averaging, estimate asymptotic behavior, convert the resulting curve into a viable approximation of a probability distribution, display the result, and derive further statistics from that, including estimates of percentile times.</p>
                                                            <a href="mailto:info@colvistec.de?subject=Request via  Webpage"><input type="submit" value="Contact us" class="mu-post-btn" name="submit"></a>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <hr />
                                                <table>
                                                    <tr valign="top">
                                                        <td>
                                                            <b>SOFTWARE</b>
                                                            <h4>SpecViewer</h4>
                                                            <p>SpecViewer is a tool designed to display and navigate the sequences of spectra in an intuitive way, presenting both overview and details graphically and assisting analysis by offering common transformations that emphasize relations between spectra. The human-visible color associated with each spectrum is directly visualized by presenting the spectral curve itself in that color.</p>
                                                            <a href="mailto:info@colvistec.de?subject=Request via  Webpage"><input type="submit" value="Contact us" class="mu-post-btn" name="submit"></a>
                                                        </td>
                                                        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                        <td> <center><img src="~/img/pharmaceuticals/SpecViewer.jpg" alt="img"></center></td>
                                                    </tr>
                                                </table>
                                                <hr />
                                                <table>
                                                    <tr valign="top">
                                                        <td> <center><img src="~/img/software/cloudvis.jpg" alt="img"></center></td>
                                                        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                        <td>
                                                            <b>SOFTWARE</b>
                                                            <h4>CloudVis</h4>
                                                            <p>CloudVis can condense the measured spectra to coordinate triples relevant to human vision, typically L*/a*/b*. Each such triple can be thought of as representing a point in a 3D color space. Given a sequence of such measurements, one obtains a point cloud in that color space. Suppose that another point cloud has been obtained in an earlier sequence of measurements. It would be interesting to quantify how close the two point clouds are in a statistical sense. This is the function of CloudVis.</p>
                                                            <a href="mailto:info@colvistec.de?subject=Request via  Webpage"><input type="submit" value="Contact us" class="mu-post-btn" name="submit"></a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<!-- end course content container -->
                            <!-- start course content container -->*@
                            <div class="mu-course-container mu-course-details">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="mu-latest-course-single">
                                            <div class="mu-latest-course-single-content">
                                                <hr />
                                                <h2 class="text-center">DO YOU HAVE ANY QUESTIONS? ASK US TODAY!</h2>
                                                <center>
                                                    <a href="mailto:info@colvistec.de?subject=Request via  Webpage"><input type="submit" value="Contact us" class="mu-post-btn" name="submit"></a>
                                                </center>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<!-- end course content container -->*@
                        </div>
                        <div class="col-md-12">
                            <partial name="TechnologyNavPartial" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>