@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<!-- Page breadcrumb -->*@
<section id="mu-page-breadcrumb" style="background-image: url(/img/hardware/colvistec_hardware_solution.jpg); height: 350px; ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-page-breadcrumb-area">
                    <br /><br />
                    <h1>INLINE SPECTROSCOPY</h1>

                    <div class="breadcrumb">
                        <li><a href="#">Technology</a></li>
                        <li class="active">Inline Spectroscopy</li>
                        <br /> <br />
                        <li><b>WE OFFER SPECTROMETERS AND FIBER OPTIC PROBES FOR CONTINUOUS INLINE PROCESS CONTROL</b></li>

                        <br /><br />
                        <li><a href="mailto:info@colvistec.de?subject=Request via  Webpage"><input type="submit" value="Learn more" class="mu-post-btn" name="submit"></a></li>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@*<!-- End breadcrumb -->*@
<section id="mu-course-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-course-content-area">
                    <div class="row">
                        <div class="col-md-12 mb-25">
                            @*<!-- start course content container -->*@
                            <div class="mu-course-container mu-course-details">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="mu-latest-course-single">
                                            <br />
                                            <div class="mu-latest-course-single-content">
                                                <center>
                                                    <h2>About</h2>
                                                </center>

                                                <p>
                                                    Our spectrometers and fiber optic probes were made for demanding production environments. It opens wide possibilities for continuous observation of extrusion and other processes without blind spots. The overall technology is easy to control and use. It is based on inline UV-Vis, NIR, and Raman spectroscopy. In some applications, the usage of two probes to monitor two production lines at the same time is possible with one system. Our technology is fitted to the existing manufacturing facilities, boosting their productivity and quality.
                                                </p>​<br />

                                                <img src="~/img/hardware/SPECTROPHOTOMETER-SYSTEM.png" width="100%" />
                                                <br /><br />
                                            </div>
                                            <center>
                                                <h2>SPECTROPHOTOMETER SYSTEM</h2>
                                                <p>TECHNICAL DATA</p><br />
                                            </center>

                                            <div class="mu-latest-course-single-content2">
                                                <font size="-1">
                                                    <ul>
                                                        <li>Spectrum: 220 through 820 nm</li>
                                                        <li>Resolution: 1 nm</li>
                                                        <li>Interface for 2 probes</li>

                                                        <li>Measuring time: 10 ms</li>
                                                        <li>Minimal measurement interval: 1 s or more (freely adjustable) </li>
                                                        <li>Light source: xenon flash lamp (one for each probe channel)</li>
                                                        <li>Calibration: white ceramic tile and black trap + green check standard</li>
                                                        <li>Color Scales: CIE-L*a*b*, CIE-L*C*h, CIE-94, CIE-2000, CMC (l:c), FMC, HunterLab, XYZ, xyY </li>

                                                        <li>Other Indexes: whiteness CIE, whiteness E313, yellowness D1925, yellowness E313 </li>
                                                        <li>Illumination: A, C, D50, D65, F2 (CWF), F11 (TL84) (other options available upon request)</li>
                                                        <li>Dimensions: 610 (W) x 510 (H) x 345 (D) mm </li>
                                                        <li>Weight: ca. 55 kg</li>

                                                        <li>Integrated Panel-PC with touchscreen  </li>
                                                        <li>Operating system: Windows® 7</li>
                                                        <li>Interfaces: 3x USB, 1x ethernet, SSD</li>
                                                        <li>Voltage: 230V, 50Hz (EU) or 120&nbsp;V, 60&nbsp;Hz (US)</li>
                                                        <li>Environment conditions: 5 to 45&nbsp;°C (non-condensing)</li>
                                                    </ul>

                                                </font>

                                            </div>

                                            <center>
                                                <a href="mailto:info@colvistec.de?subject=Request via  Webpage"><input type="submit" value="Contact us" class="mu-post-btn" name="submit"></a>
                                            </center>

                                            <hr />
                                            <center>
                                                <h2>COLOR PROBE (CP)</h2>

                                                <img src="~/img/hardware/SPECTROPHOTOMETER-SYSTEM2.jpg" width="100%" />

                                                <br /><br />
                                                <p>TECHNICAL DATA</p><br />
                                            </center>
                                            <div class="mu-latest-course-single-content2">
                                                <font size="-1">
                                                    <ul>
                                                        <li>Sapphire window</li>
                                                        <li>Fibre length: 5 m (standard)</li>
                                                        <li>Stainless steel body (length: 240 mm, Ø 19.05 mm = 3/4 inch)</li>
                                                        <li>Pressure: ≤ 15 bar</li>
                                                        <li>Working temperature: -30 °C (not condensing) to 100 °C </li>

                                                    </ul>
                                                </font>
                                            </div>
                                            <center>
                                                <p>APPLICATION USE<p><br />
                                                <p>CP is used in extruders for opaque liquids, paste, powder, and pellet materials.</p>
                                                <a href="mailto:info@colvistec.de?subject=Request via  Webpage"><input type="submit" value="Contact us" class="mu-post-btn" name="submit"></a>
                                            </center>
                                            <hr />

                                            <br /><br />

                                            <center>
                                                <h2>REFLECTION POLYMER MELT PROBE (RPMP)</h2>
                                                <img src="~/img/hardware/color_probe_colvistec.jpg" width="100%" />
                                                <p>TECHNICAL DATA</p><br />
                                            </center>

                                            <div class="mu-latest-course-single-content2">
                                                <font size="-1">
                                                    <ul>
                                                        <li>Probe tip: standard thread 1/2”-20 UNF  </li>
                                                        <li>Consists of one fibre optic and one probe body units</li>
                                                        <li>Sapphire window</li>
                                                        <li>Separate fiber optic for easy calibration</li>
                                                        <li>Temperature: ≤ 325 °C</li>
                                                        <li>Pressure: ≤ 200 bar </li>
                                                        <li>Stainless steel body</li>
                                                        <li>Standard fiber length: 5 m</li>
                                                        <li>Maximum fiber length: 20 m</li>

                                                    </ul>
                                                </font>
                                            </div>

                                            <center>
                                                <p>APPLICATION USE<p><br />
                                                <p>RPMP probes are used to measure opaque materials such as molten polymers, chemicals, pharmaceuticals as well as powders. This probe is specially designed to withstand the high temperature and pressure often found in extruders, though it can also be installed in other types of manufacturing machinery.</p>
                                                <a href="mailto:info@colvistec.de?subject=Request via  Webpage"><input type="submit" value="Contact us" class="mu-post-btn" name="submit"></a>
                                            </center>
                                            <hr />

                                            <br /><br />
                                            <center>
                                                <h2>TRANSMISSION POLYMER MELT PROBE (TPMP)</h2>
                                                <img src="~/img/hardware/colvistec_REFLECTION-POLYME.jpg" width="100%" />
                                                <p>TECHNICAL DATA</p><br />
                                            </center>

                                            <div class="mu-latest-course-single-content2">
                                                <font size="-1">
                                                    <ul>
                                                        <li>Probe tip: standard thread 1/2”-20 UNF  </li>
                                                        <li>Consists of two fibre optic and two probe body units</li>
                                                        <li>Sapphire window</li>
                                                        <li>Separate fiber optic for easy calibration</li>
                                                        <li>Temperature: ≤ 325 °C</li>
                                                        <li>Pressure: ≤ 200 bar </li>
                                                        <li>Stainless steel body</li>
                                                        <li>Requires perfect in-line fitting</li>
                                                        <li>Standard fiber length: 5 m</li>
                                                        <li>Maximum fiber length: 20 m</li>
                                                    </ul>
                                                </font>
                                            </div>
                                            <center>
                                                <p>APPLICATION USE</p><br />
                                                <p>TPMP is used in extruders for transparent molten polymers in extrusion processes.</p>
                                            </center>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<!-- end course content container -->
                            <!-- start course content container -->*@
                            <div class="mu-course-container mu-course-details">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="mu-latest-course-single">

                                            <div class="mu-latest-course-single-content">
                                                <hr />
                                                <center>
                                                    <h2 class="text-center">DO YOU HAVE ANY QUESTIONS? ASK US TODAY!</h2>
                                                    <a href="mailto:info@colvistec.de?subject=Request via  Webpage"><input type="submit" value="Contact us" class="mu-post-btn" name="submit"></a>
                                                </center>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<!-- end course content container -->*@
                        </div>
                        <div class="col-md-12">
                            <partial name="TechnologyNavPartial" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>