@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<!-- Page breadcrumb -->*@
<section id="mu-page-breadcrumb" style="background-image: url(/img/advantages/colvistec_advantages.jpg); height: 350px; ">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-page-breadcrumb-area">
                    <br /><br />
                    <h1>PROCESS MONITORING</h1>
                    <ol class="breadcrumb">
                        <li><a href="#">Technology</a></li>
                        <li class="active">Process Monitoring</li>
                        <br/>
                        <br />
                        <li><b>GET FULL ADVANTAGES OF THE INLINE UV-VIS SPECTROMETRY-BASED PROCESS MONITORING METHOD</b></li>
                        <br />
                        <br />
                        <li><a href="mailto:info@colvistec.de?subject=Request via  Webpage"><input type="submit" value="Learn more" class="mu-post-btn" name="submit"></a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
@*<!-- End breadcrumb -->*@
<section id="mu-course-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-course-content-area">
                    <div class="row">
                        <div class="col-md-12 mb-25">
                            @*<!-- start course content container -->*@
                            <div class="mu-course-container mu-course-details">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="mu-latest-course-single">

                                            <div class="mu-latest-course-single-content">
                                                <center><h2><a href="#">About</a></h2></center>
                                                <p>The old fashioned way of quality process monitoring included taking samples and analyzing them in a laboratory which prevented factories to fully control the quality of their outcome. The process was inefficient, long, and costly. This measurement procedure was repeated approximately every 2-3 hours. Compare this turnaround time to the efficiency of our technology, and you will immediately understand the benefits. </p>
                                                <br />
                                                <center>
                                                    <h2><a href="#">ADVANTAGES THAT WE OFFER</a></h2>
                                                    <img src="~/img/advantages/advantages_we_offer.jpg" width="100%" />
                                                    <br /> <br />
                                                    <h2><a href="#">INLINE PROCESS MONITORING CAN BE DONE DIRECTLY</a></h2>
                                                    <img src="~/img/advantages/colvistec_advantages2.jpg" width="100%" />
                                                </center>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<!-- end course content container -->
                            <!-- start course content container -->*@
                            <div class="mu-course-container mu-course-details">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="mu-latest-course-single">

                                            <div class="mu-latest-course-single-content">
                                                <hr />
                                                <h2 class="text-center">DO YOU HAVE ANY QUESTIONS? ASK US TODAY!</h2>

                                                <center>
                                                    <a href="mailto:info@colvistec.de?subject=Request via  Webpage"><input type="submit" value="Contact us" class="mu-post-btn" name="submit"></a>
                                                </center>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<!-- end course content container -->*@

                        </div>
                        <div class="col-md-12">
                            <partial name="TechnologyNavPartial" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>