@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}
<section id="mu-course-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-course-content-area">
                    <div class="row">
                        <div class="col-md-12 mb-25">
                            @*<!-- start course content container -->*@
                            <div class="mu-course-container mu-blog-single">
                                <div class="row">
                                    <div class="col-md-12">
                                        <article class="mu-blog-single-item">
                                            <figure class="mu-blog-single-img">
                                                <a href="#"><img alt="img" src="~/img/news/K-Show-The-Worlds-1-Trade-F.jpg"></a>
                                                <figcaption class="mu-blog-caption">
                                                    <h3><a href="#">K Show: The World’s #1 Trade Fair for Plastics and Rubber in Dusseldorf, Germany</a></h3>
                                                </figcaption>
                                            </figure>
                                            @*<%-- <div class="mu-blog-meta">
                                                <a href="#">By Admin</a>
                                                <a href="#">02 June 2019</a>
                                                <span><i class="fa fa-comments-o"></i>87</span>
                                            </div>--%>*@
                                            <div class="mu-blog-description">
                                                <p>

                                                    The time has come for us to once again eagerly invite everyone interested to come and find us at yet another trade exhibition, K Show in Dusseldorf. Set to take place at the Dusseldorf Fair Ground in October of 2019, this show will last from the 16th to the 23rd and mark eight days dedicated to celebrating the latest achievements in the world of plastics and polymers.

                                                    <br /><br />

                                                    As possibly the most important trade fair in this industry, the K Show will help pave the way forward. By providing a global stage where pioneering developments and trailblazing innovations can be in the spotlight, this exhibition will be a staging area for the agreements and business deals that will impact the entire polymers and plastics industry.
                                                    <br /><br />


                                                    Of course, ColVisTec will be on-site to do its part in shaping this future through its innovative spectroscopy solutions.

                                                    <br />

                                                    <h3>Main Product Groups</h3>



                                                    All important decisions need a starting point and for many such resolutions, the K Show will be that point. According to the organizers themselves, an effective fusion of digital tendencies and production processes will be the key to economic success in the future. Therefore, groundbreaking ideas will be needed in many areas and K 2019 aims to deliver that diversity. Covering an impressive range of products and services, the show will have four main spheres of interest:

                                                    <br /><br />

                                                    <b>Raw Materials </b>

                                                    <br />

                                                    Polymers are the materials of the future and thus play a key part at the K Show. Advancements in this area will not only increase resource efficiency but also help environmental concerns.

                                                    <br /><br />

                                                    <b>​Machinery  </b>

                                                    <br />

                                                    From improved production efficiency to heightened quality and waste reduction, the latest machinery plays an integral role to the success of any business endeavor.
                                                    <br /><br />


                                                    <b>Semi-Finished Products</b>

                                                    <br />

                                                    With an incredibly wide scope of application, these products have a mountain of new potential to tap into.
                                                    <br /><br />


                                                    <b>Services and Research</b>
                                                    <br />


                                                    Knowledge is how the industry progresses, and the K Show is where like-minded people gather to make it happen.
                                                    <br /><br />


                                                    <h3>Going Beyond K 2016</h3>
                                                    <br />


                                                    The last time the K Show opened its doors was in 2016. At that time, it had a grand total of 3,293 exhibitors with over 2,000 of them being international. Over its entire duration, more than 230,000 visitors attended the show.

                                                    <br /><br />

                                                    It is these amazing figures that fill ColVisTec with such excitement for the 2019 fair.
                                                    <br />


                                                    <h3>Event Profile</h3>

                                                    <b>Name:</b> K Show 2019
                                                    <br />
                                                    <b>Subject:</b> Developments in the plastics and rubber industry
                                                    <br />
                                                    <b>Date:</b> October 16–23, 2019
                                                    <br />
                                                    <b>ColVisTec's Stand:</b> Hall 16 / A42
                                                    <br />
                                                    <b>Program:</b> https://bit.ly/2qwUEzR
                                                    <br />
                                                    <b>Location:</b> Dusseldorf Fair Ground (Messe Düsseldorf), Arena-Straße, 40474 Düsseldorf, Germany
                                                </p>
                                            </div>

                                        </article>
                                    </div>
                                </div>
                            </div>
                            @*<!-- end course content container -->*@

                        </div>
                        <div class="col-md-12">
                            @*<!-- start sidebar -->*@
                            <aside class="mu-sidebar">
                                @*<!-- start single sidebar -->*@
                                <div class="mu-single-sidebar">
                                    <h3>Tags Cloud</h3>
                                    <div class="tag-cloud">
                                        <a href="#">inline spectroscopy</a>
                                        <a href="#">inline uv-vis spectroscopy</a>
                                        <a href="#">inline nir spectroscopy</a>
                                        <a href="#">inline process monitoring</a>
                                        <a href="#">uv-vis spectrometer</a>
                                        <a href="#">uv vis spectroscopy</a>
                                        <a href="#">continuous production</a>
                                        <a href="#">pharmaceutical manufacturing</a>
                                        <a href="#">raman spectroscopy</a>
                                        <a href="#">ir spectroscopy</a>
                                    </div>
                                </div>
                                @*<!-- end single sidebar -->*@
                            </aside>
                            @*<!-- / end sidebar -->*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>