@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}
<section id="mu-course-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-course-content-area">
                    <div class="row">
                        <div class="col-md-12 mb-25">
                            @*<!-- start course content container -->*@
                            <div class="mu-course-container mu-blog-single">
                                <div class="row">
                                    <div class="col-md-12">
                                        <article class="mu-blog-single-item">
                                            <figure class="mu-blog-single-img">
                                                <a href="#"><img alt="img" src="~/img/news/Leistritz-Masterbatch-Works.jpg"></a>
                                                <figcaption class="mu-blog-caption">
                                                    <h3><a href="#">Leistritz Masterbatch Workshop 2018 in Nuremberg, Germany</a></h3>
                                                </figcaption>
                                            </figure>
                                            @*<%-- <div class="mu-blog-meta">
                                                <a href="#">By Admin</a>
                                                <a href="#">02 June 2019</a>
                                                <span><i class="fa fa-comments-o"></i>87</span>
                                            </div>--%>*@
                                            <div class="mu-blog-description">
                                                <p>



                                                    It is with no small amount of pride that we can announce that ColVisTec’s very own Fuat Eker, the Director of Sales, Marketing, and Customization, has been asked to participate in the upcoming “360° Masterbatch Workshop” as a lecturer.
                                                    <br /><br />


                                                    Organized by the renowned company Leistritz, this comprehensive seminar is set to take place in Nuremberg, Germany, on November 6-7, 2018.  This two-day workshop will primarily be held at the Sheraton Carlton Hotel but will also include a visit to Leistritz’s state-of-the-art laboratory.
                                                    <br /><br />


                                                    The purpose of the seminar is to provide a thorough overview of the many aspects involved in masterbatch production. It is important to point out that this includes both extensive theoretical lectures as well as practical explanations and live machine demonstrations.
                                                    <br /><br />


                                                    What is more, attendees will find themselves with an exclusive opportunity to meet and interact with masterbatch experts from around the world. These specialists all bring unique points of view that come from their many years of successful work in the extrusion industry, making them invaluable sources of information and know-how. By asking their questions directly, attendees will be able to assess the merits of adopting new approaches, clear up any lingering doubts they may have, and receive in-depth observations regarding this stimulating subject.
                                                    <br /><br />


                                                    As such, this event is suitable for a wide range of potential attendees. On the one hand, newcomers to the plastics extrusion industry can use the wealth of knowledge this workshop offers to give their burgeoning business a head start. On the other, industry veterans can ensure they stay up-to-date with the latest developments and use the experience of the lecturers to build upon their existing expertise.
                                                    <br /><br />


                                                    <h3>The Theory</h3>



                                                    The Sheraton Carlton Hotel will play host to numerous presentations that will cover a range of topics. These include, among others:
                                                    <br /><br />


                                                    A general overview<br />

                                                    Hot and cold extrusion methods<br />

                                                    Pigments and waxes<br />

                                                    The innovations and applications of the 360° extrusion line<br />

                                                    A look toward the future of masterbatch<br />


                                                    <br />
                                                    As for Fuat Eker, he is scheduled to take the floor on Wednesday, November, 7 at 09:00. Together with Leistritz’s Thomas Unger, he will deliver a 30-minute lecture named “Online measuring methods: color, viscosity & more”.
                                                    <br /><br />


                                                    In addition to several members of Leistritz, a number of other presenters will be involved. They are:
                                                    <br /><br />


                                                    Oliver Feierabend, Pallmann<br />

                                                    Andreas Backhaus, Mixaco<br />

                                                    Hermann Diem, Clariant Deutschland<br />

                                                    Andreas Thürmer, BASF<br />

                                                    Uwe Ott, Kuncai<br /><br />



                                                    <h3>The Practical Portion</h3>



                                                    Besides the lectures, the first day of the workshop will also include a two-hour live demonstration at Leistritz’s facility. The attendees will see several machines in action and receive on-the-spot explanations.

                                                    <br /><br />

                                                    <h3>Event Profile</h3>



                                                    <b>Name:</b> 360° Masterbatch Workshop 2018 in Nuremberg at Leistritz<br />

                                                    <b>Subject:</b> Masterbatch production and processes<br />

                                                    <b>Date:</b> November 6–7, 2018<br />

                                                    <b>Program:</b> https://bit.ly/2Q1zANi<br />

                                                    <b>Location 1:</b> Sheraton Carlton Hotel, Eilgutstr. 15, 90443 Nuremberg, Germany <br />

                                                    <b>Location 2:</b> Leistritz Extrusionstechnik GmbH, Markgrafenstr. 36 – 39, 90459 Nuremberg, Germany<br />
                                                </p>


                                            </div>

                                        </article>
                                    </div>
                                </div>
                            </div>
                            @*<!-- end course content container -->*@
                        </div>
                        <div class="col-md-12">
                            @*<!-- start sidebar -->*@
                            <aside class="mu-sidebar">
                                @*<!-- start single sidebar -->*@
                                <div class="mu-single-sidebar">
                                    <h3>Tags Cloud</h3>
                                    <div class="tag-cloud">
                                        <a href="#">inline spectroscopy</a>
                                        <a href="#">inline uv-vis spectroscopy</a>
                                        <a href="#">inline nir spectroscopy</a>
                                        <a href="#">inline process monitoring</a>
                                        <a href="#">uv-vis spectrometer</a>
                                        <a href="#">uv vis spectroscopy</a>
                                        <a href="#">continuous production</a>
                                        <a href="#">pharmaceutical manufacturing</a>
                                        <a href="#">raman spectroscopy</a>
                                        <a href="#">ir spectroscopy</a>
                                    </div>
                                </div>
                                @*<!-- end single sidebar -->*@
                            </aside>
                            @*<!-- / end sidebar -->*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>