@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}
<section id="mu-course-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-course-content-area">
                    <div class="row">
                        <div class="col-md-12 mb-25">
                            @*<!-- start course content container -->*@
                            <div class="mu-course-container mu-blog-single">
                                <div class="row">
                                    <div class="col-md-12">
                                        <article class="mu-blog-single-item">
                                            <figure class="mu-blog-single-img">
                                                <a href="#"><img alt="img" src="~/img/news/POWTECH-2019-in-Nuremberg-G.jpg"></a>
                                                <figcaption class="mu-blog-caption">
                                                    <h3><a href="#">POWTECH 2019: Trade Fair around Bulk Solids and Powder in Nuremberg, Germany</a></h3>
                                                </figcaption>
                                            </figure>
                                            @*<%-- <div class="mu-blog-meta">
                                                <a href="#">By Admin</a>
                                                <a href="#">02 June 2019</a>
                                                <span><i class="fa fa-comments-o"></i>87</span>
                                            </div>--%>*@
                                            <div class="mu-blog-description">
                                                <p>

                                                    It is with great pleasure that we announce that ColVisTec will be a part of the upcoming POWTECH exhibition.

                                                    <br /> <br />

                                                    POWTECH, one of the gold standards in the world of trade fairs concerning the powder, bulk solids, and granule industries, is coming back in 2019. To be held at the Nuremberg Exhibition Centre from April 9 until 11, POWTECH will once again be the meeting ground for industry experts not just from Germany, but from varied international environments as well.
                                                    <br /> <br />


                                                    Thanks to its overall atmosphere and dynamics, POWTECH is arguably the world’s leading trade fair in its field. Therefore, it represents a major opportunity for anyone interested to showcase their innovations or learn about the amazing advancements others have made in the world of powders, bulk solids, and related products. From newcomers, who will have a dedicated pavilion to help them make their mark, to industry stalwarts – POWTECH gives everyone the perfect opportunity to hear from others and be heard. If it has anything to do with the various processing, handling, or analysis aspects of this industry, then it has a place at POWTECH.
                                                    <br /> <br />


                                                    Naturally, ColVisTec will be there to display its industry-leading spectroscopy technology.

                                                    <br />

                                                    <h3>Products and Services on Exhibit</h3>



                                                    From analysis and size reduction to dosing and many more — this industry is filled to the brim with various processes. All dynamic and integral to the end product, they require a range of solutions and products in order to provide the required results. And if they are to remain competitive in today’s evolving market, cutting-edge technology is required. And POWTECH is an excellent place to display those innovations in a number of areas:
                                                    <br /><br />


                                                    Measurement and Control
                                                    <br />
                                                    Packaging
                                                    <br />
                                                    Safety
                                                    <br />
                                                    Basic Processing Technologies
                                                    <br />
                                                    QA
                                                    <br />
                                                    Services
                                                    <br /><br />


                                                    As such, POWTECH will attract experts, managers, and engineers from the following areas:
                                                    <br /><br />


                                                    Pharmaceuticals
                                                    <br />
                                                    Chemicals
                                                    <br />
                                                    Food
                                                    <br />
                                                    Glass
                                                    <br />
                                                    Recycling and Environment Protection
                                                    <br />
                                                    Building
                                                    <br /><br />


                                                    With so many of our target industries being represented, it is clear why ColVisTec has chosen to attend this trade show as an exhibitor.
                                                    <br />


                                                    <h3>The Numbers </h3>



                                                    The 2017 iteration of Powtech boasted some impressive attendance figures:

                                                    <br /><br />

                                                    835 exhibitors (511 German and 324 international)
                                                    <br />
                                                    14,066 visitors (8,426 from Germany and 5,640 from abroad)
                                                    <br />
                                                    93% of visitors were people who had a say when it came to purchasing decisions
                                                    <br /><br />


                                                    With the hope that these numbers will be even greater in 2019, ColVisTec is looking forward to interacting with as many interested parties as possible.
                                                    <br /><br />


                                                    <h3>Event Profile</h3>



                                                    <b>Name:</b> POWTECH 2019 in Nuremberg, Germany
                                                    <br />
                                                    <b>Subject:</b> Powder and bulk solids industry innovations
                                                    <br />
                                                    <b>Date:</b> April 9–11, 2019
                                                    <br />
                                                    <b>ColVisTec’s Stand:</b> Hall 1 / 1-545
                                                    <br />
                                                    <b>Program:</b> https://bit.ly/2yPVZX1
                                                    <br />
                                                    <b>Location:</b> Exhibition Centre Nuremberg, Messezentrum 1, 90471 Nuremberg, Germany


                                                </p>


                                            </div>

                                        </article>
                                    </div>
                                </div>
                            </div>
                            @*<!-- end course content container -->*@
                        </div>
                        <div class="col-md-12">
                            @*<!-- start sidebar -->*@
                            <aside class="mu-sidebar">
                                @*<!-- start single sidebar -->*@
                                <div class="mu-single-sidebar">
                                    <h3>Tags Cloud</h3>
                                    <div class="tag-cloud">
                                        <a href="#">inline spectroscopy</a>
                                        <a href="#">inline uv-vis spectroscopy</a>
                                        <a href="#">inline nir spectroscopy</a>
                                        <a href="#">inline process monitoring</a>
                                        <a href="#">uv-vis spectrometer</a>
                                        <a href="#">uv vis spectroscopy</a>
                                        <a href="#">continuous production</a>
                                        <a href="#">pharmaceutical manufacturing</a>
                                        <a href="#">raman spectroscopy</a>
                                        <a href="#">ir spectroscopy</a>
                                    </div>
                                </div>
                                @*<!-- end single sidebar -->*@
                            </aside>
                            @*<!-- / end sidebar -->*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>