@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="mu-course-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-course-content-area">
                    <div class="row">
                        <div class="col-md-12 mb-25">
                            @*<!-- start course content container -->*@
                            <div class="mu-course-container mu-blog-single">
                                <div class="row">
                                    <div class="col-md-12">
                                        <article class="mu-blog-single-item">
                                            <figure class="mu-blog-single-img">
                                                <a href="#"><img alt="img" src="~/img/news/SPE-European-Additives-Colo.jpg"></a>
                                                <figcaption class="mu-blog-caption">
                                                    <h3><a href="#">SPE European Additives & Colors Conference 2019 in Frankfurt, Germany</a></h3>
                                                </figcaption>
                                            </figure>
                                            @*<%-- <div class="mu-blog-meta">
                                                <a href="#">By Admin</a>
                                                <a href="#">02 June 2019</a>
                                                <span><i class="fa fa-comments-o"></i>87</span>
                                            </div>--%>*@
                                            <div class="mu-blog-description">
                                                <p>



                                                    SPE European Additives & Colors Conference takes place every two years, and the 2019 edition will be in Frankfurt, Germany. Between March 27 and 29, this event will represent the place to be for anyone interested in learning about the latest developments regarding pigments and dyes, additives, and masterbatches of plastics & polymers. Naturally, ColVisTec will also be present.
                                                    <br /><br />


                                                    <h3>The Conference</h3>



                                                    The European Additives & Colors Conference is an event with a broad appeal to anyone connected to the plastics & polymers industry. From original equipment manufacturers (OEMs) to raw material suppliers and everyone in between, every attendee can find something of interest. This has attracted numerous industry leaders to the previous conferences, and the 2019 iteration looks to continue this trend.
                                                    <br /><br />


                                                    This year’s event will focus on what OEMs can expect from additives, pigments, dyes, and masterbatches as well as how their growing needs can be met with the latest technological advancements.
                                                    <br /><br />


                                                    In addition to that, the event provides companies with numerous other opportunities to present their products. Thanks to an inviting atmosphere, it is an excellent chance to establish contacts with leading industry players.

                                                    <br /><br />

                                                    <h3>ColVisTec’s Participation</h3>



                                                    Considering ColVisTec’s products have an excellent track record in these fields, we are anxious to show off our inline spectroscopy solutions to everyone interested. Our technologies are recognized for the numerous benefits they can bring to a production plant by providing greater process control.

                                                    <br /><br />

                                                    Our inline UV-Vis, NIR, Raman spectroscopy devices offer process monitoring without sampling and preparation, fully automated control in the melt, liquids, paste, and powder, high accuracy, a lot of customization options, and require minimal recalibration. Considering the polymer and plastic extrusion face constantly growing challenges, these are the factors necessary to keep up with the Industry 4.0 demands.
                                                    <br /><br />


                                                    The Conference is a great way to show what our hard work has brought over the years, and we look forward to connecting with many potential business partners.

                                                    <br /><br />

                                                    <h3>Event Profile</h3>



                                                    <b>Name:</b> SPE European Additives & Colors Conference 2019<br />
                                                    <b>Subject:</b> Innovations in the world of colors and additives<br />
                                                    <b>Date:</b> March 27–29, 2019<br />
                                                    <b>Program:</b> https://bit.ly/2USM8IJ​<br />
                                                    <b>Location:</b> Le Méridien Frankfurt, Wiesenhüttenplatz 28-38, 60329 Frankfurt, Germany<br />


                                                </p>


                                            </div>

                                        </article>
                                    </div>
                                </div>
                            </div>
                            @*<!-- end course content container -->*@
                        </div>
                        <div class="col-md-12">
                            @*<!-- start sidebar -->*@
                            <aside class="mu-sidebar">

                                @*<!-- start single sidebar -->*@
                                <div class="mu-single-sidebar">
                                    <h3>Tags Cloud</h3>
                                    <div class="tag-cloud">
                                        <a href="#">inline spectroscopy</a>
                                        <a href="#">inline uv-vis spectroscopy</a>
                                        <a href="#">inline nir spectroscopy</a>
                                        <a href="#">inline process monitoring</a>
                                        <a href="#">uv-vis spectrometer</a>
                                        <a href="#">uv vis spectroscopy</a>
                                        <a href="#">continuous production</a>
                                        <a href="#">pharmaceutical manufacturing</a>
                                        <a href="#">raman spectroscopy</a>
                                        <a href="#">ir spectroscopy</a>
                                    </div>
                                </div>
                                @*<!-- end single sidebar -->*@
                            </aside>
                            @*<!-- / end sidebar -->*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>