@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="mu-course-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-course-content-area">
                    <div class="row">
                        <div class="col-md-12 mb-25">
                            @*<!-- start course content container -->*@
                            <div class="mu-course-container mu-blog-single">
                                <div class="row">
                                    <div class="col-md-12">
                                        <article class="mu-blog-single-item">
                                            <figure class="mu-blog-single-img">
                                                <a href="#"><img alt="img" src="~/img/news/The-Farbe-und-Lack-Industri.jpg"></a>
                                                <figcaption class="mu-blog-caption">
                                                    <h3><a href="#">The Farbe und Lack Industrie 4.0 Conference in Kassel, Germany</a></h3>
                                                </figcaption>
                                            </figure>
                                            @*<%-- <div class="mu-blog-meta">
                                                <a href="#">By Admin</a>
                                                <a href="#">02 June 2019</a>
                                                <span><i class="fa fa-comments-o"></i>87</span>
                                            </div>--%>*@
                                            <div class="mu-blog-description">
                                                <p>
                                                    We are proud to announce that ColVisTec’s We are proud to announce our participation at the Farbe und Lack Industrie 4.0 Conference in Kassel, Germany. The event will take place on April 17 and 18, 2018 at the Best Western Plus Hotel Kassel City.

                                                    <br /> <br />

                                                    Over the course of two days, the conference will gather professionals working in the German paint & coatings industry. They will discuss concrete solutions and steps to exploit the potential of Industry 4.0 in the production of paints and varnishes. Industry 4.0 is the term used to describe the ongoing global trend of digitization and automation of the manufacturing process.

                                                    <br /> <br />

                                                    This conference will provide an opportunity for all the major industry players to discuss how far they’ve come in implementing these solutions. The participants will include manufacturers who have already taken steps in digitizing their process, as well as providers of digital services and solutions that can help them explore the potential of their company even further.

                                                    <br /> <br />

                                                    On Tuesday, April 17 at 14:00, the program will start with a casual gathering and an optional brunch. Later that evening, at 18:30, the participants will attend a networking dinner, where they’ll have the chance to meet other industry professionals and create new contacts.
                                                    <br /> <br />


                                                    The conference will begin at 9:15 on Wednesday, April 18, with a keynote speech by Mike Bach from Prisma titled “Digitization and Big Data – What It Is, How It Works, and What Is It Good For.” Bach’s 45-minute lecture will introduce the main topic of the conference and cover the key aspects of the Industry 4.0 process.

                                                    <br /> <br />

                                                    The rest of the day’s program will include eight more lectures by some of the leading professionals in the coatings field. These lectures will cover topics like logistics, data collection, and analysis. At 14:00, ColVisTec’s own Fuat Eker will give a 30-minute lecture titled “Inline Process Monitoring Using UV-VIS Spectrophotometry on Liquid, Pasty, Powdery, and Molten Media Directly in Batch- and Continuous Processes.”
                                                    <br />


                                                    <h3>Fuat Eker, Director of Sales, Marketing, and Customization at ColVisTec</h3>
                                                    <br />

                                                    For more than 25 years, Fuat Eker has been active in the field of spectroscopy systems and solutions. At the start of his career, he worked for a leading German company that provided online solutions for the general lighting and automotive industry. He was the head of a Berlin-based company involved in research and development, manufacturing, and active sales organization. Eker has been in his current position with ColVisTec since the company first launched.
                                                    <br />


                                                    <h3>Event Profile</h3>


                                                    <b>Name:</b> The Farbe und Lack Industrie 4.0 Conference<br />

                                                    <b>Subject:</b> Digitization and Automation in the Coatings Sector<br />

                                                    <b>Date:</b> April 17-18, 2018<br />

                                                    <b>Program:</b> https://bit.ly/2HmBhna <br />

                                                    <b>Location:</b> Best Western Plus Hotel Kassel City, Spohrstrasse 4, 34117 Kassel, Germany<br />

                                                </p>


                                            </div>

                                        </article>
                                    </div>
                                </div>
                            </div>
                            @*<!-- end course content container -->*@
                        </div>
                        <div class="col-md-12">
                            @*<!-- start sidebar -->*@
                            <aside class="mu-sidebar">
                                @*<!-- start single sidebar -->*@
                                <div class="mu-single-sidebar">
                                    <h3>Tags Cloud</h3>
                                    <div class="tag-cloud">
                                        <a href="#">inline spectroscopy</a>
                                        <a href="#">inline uv-vis spectroscopy</a>
                                        <a href="#">inline nir spectroscopy</a>
                                        <a href="#">inline process monitoring</a>
                                        <a href="#">uv-vis spectrometer</a>
                                        <a href="#">uv vis spectroscopy</a>
                                        <a href="#">continuous production</a>
                                        <a href="#">pharmaceutical manufacturing</a>
                                        <a href="#">raman spectroscopy</a>
                                        <a href="#">ir spectroscopy</a>
                                    </div>
                                </div>
                                @*<!-- end single sidebar -->*@
                            </aside>
                            @*<!-- / end sidebar -->*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>