@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<!-- Page breadcrumb -->*@
 <section id="mu-page-breadcrumb" style="background-image: url(/img/about/about_colvistec.jpg); height: 350px; ">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-page-breadcrumb-area">
                       <br /><br />
                        <h1>ABOUT COLVISTEC</h1>
                        <ol class="breadcrumb">
                            <li><a href="#">About</a></li>
                            <li class="active">ABOUT COLVISTEC</li>
                            <br/><br/>
                            <li><b>WE ENHANCE YOUR PROCESS MONITORING DIRECTLY IN EXTRUSION AND MIXING PROCESSES</b></li>
                            <br/><br/>
                            <li> <a href="mailto:info@colvistec.de?subject=Request via  Webpage"><input type="submit" value="Learn more" class="mu-post-btn" name="submit"></a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    @*<!-- End breadcrumb -->*@
     <section id="mu-course-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-course-content-area">
                        <div class="row">
                            <div class="col-md-12 mb-25">
                                @*<!-- start course content container -->*@
                                <div class="mu-course-container mu-course-details">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="mu-latest-course-single">
                                                <div class="mu-latest-course-single-content">
                                                    <center><h2><a href="#">About</a></h2></center>
                                                    
                                                    <p>
                                                        At ColVisTec, we work with the world's leading manufacturers in the paint, pharmaceutical, plastics, and chemical industries. Our team of highly knowledgeable engineers and scientists support them with a reliable and industry-ready inline UV-Vis spectroscopy.​ 
                                                    </p>​
                                                    <p>
                                                        By adding inline UV-Vis spectrophotometry devices onto the assembly line, we can measure the production output in real-time. In addition, it opens fantastic opportunities for productivity as well as quality gains, leading to a huge stand-alone benefit for your factory when implemented into the context of digitalized manufacturing: Industry 4.0. 
                                                    </p>
                                                    <p>
                                                        Our technology can be customized for a wide variety of processes, allowing flexible hardware configurations, offering data output in different formats, and excellent integration with the software solutions already in place.
                                                    </p>
                                                    <p>
                                                        We take pride in our extensive customer support and provide a full menu of training options to secure a smooth transition from off-line measurement to fully automated inline solutions.
                                                    </p>
                                                    <p>
                                                        From our headquarters in Berlin, Germany, we support our product line worldwide and work in close cooperation with other process machinery manufacturers to provide complete solutions when customers are in the market for new plants. Most often our technology is fitted to the existing manufacturing facilities, boosting their productivity and quality. We don’t see ourselves as suppliers of hardware; our aim is to provide unique solutions that are specifically required by your process.  
                                                    </p>
                                                    <p>
                                                        Our company was founded in 2009 and is now co-funded by the Horizon 2020 program of the European Union.
                                                    </p>
                                                    <hr />
                                                    <center><b><a href="#">PARTNERED WITH</a></b>
                                                        <img src="~/img/about/partners.jpg" width="800" />
                                                        </center>
                                                    <hr />
                                                    <center><h2><a href="#">EXECUTIVE TEAM</a></h2></center>
                                                    <p>
                                                        <b>JAN JOHNSEN</b>
                                                        <br>CHIEF EXECUTIVE OFFICER
                                                        <br />
                                                        Jan received his MBA from INSEAD, one of the world's leading and largest graduate business schools, in France, and also holds an MSc degree in Economics from NHH in Norway. His professional career includes 20+ years of working experience in IT, business services, manufacturing, healthcare, pharmaceuticals, and corporate finance. Apart from being CEO of ColVisTec AG, he's a Board Member at several large companies.
                                                    </p>
                                                    <br />
                                                    <p>
                                                        <b>FUAT EKER</b>
                                                        <br>DIRECTOR OF SALES, MARKETING, AND CUSTOMIZATION
                                                        <br />
                                                        Graduated in 1992 from the Applied University of Kaiserslautern, he started his career in the city of Berlin at a leading German company for spectrophotometer systems for online solutions for the industrial environment and light measurement systems for the automotive and general lighting industry. Embedded as a subsidiary of a Michigan based US company with 900 employees and more than 10 branches over the world, he was responsible in the Berlin organization for 40 employees in R&D, manufacturing and a worldwide active sales organization. Fuat is active in the field of industrial spectroscopy systems and solutions for 25 years and works from day one of ColVisTec as the Director of Sales, Marketing, and Customization.
                                                    </p>
                                                    <br />
                                                    <p>
                                                        <b>ANDREAS BERGHAUS</b>
                                                        <br>DIRECTOR OF ENGINEERING & TECHNOLOGY
                                                        <br />
                                                        Andreas obtained his Ph.D. in Engineering from one of the most prestigious educational institutions in Europe, the Technical University of Berlin and received an MSc in Physics from the Free University of Berlin in Germany. He spent his career working on semiconductor instrumentation in San Francisco and electron optical instrumentation in New York. His career spans over 13+ years of working for reputable companies across the globe. Now, he works on the application of spectroscopy for inline measurement in industrial processes in Berlin.
                                                    </p>
                                                    <hr />
                                                    <h2><a href="#">BOARD OF DIRECTORS</a></h2>
                                                    <table width="100%">
                                                        <tr>
                                                            <td><b>JENS ALDER</b>
                                                                <br />CHAIRMAN
                                                            </td>
                                                             <td>&nbsp;</td>
                                                             <td>
                                                                 <b>GRAHAM JENNER</b>
                                                                <br />VICE CHAIRMAN
                                                             </td>
                                                             <td>&nbsp;</td>
                                                             <td>
                                                                 <b>NIELS PETTER WRIGHT</b>
                                                                <br />BOARD MEMBER
                                                             </td>
                                                        </tr>
                                                    </table>
                                                       
                                                    <hr />
                                                    <h2><a href="#">OUR TEAM</a></h2>
                                                    <table width="100%">
                                                        <tr>
                                                            <td><b>
BERND KRAMPITZ</b>
                                                                <br />PROJECT LEADER
                                                            </td>
                                                             <td>&nbsp;</td>
                                                             <td>
                                                                 <b>OLIVER KÖHLER</b>
                                                                <br />ENGINEER & INNOVATION ASSISTANT
                                                             </td>
                                                             <td>&nbsp;</td>
                                                             <td>
                                                                 <b>MOHAMMAD DJAHANBAKHSH</b>
                                                                <br />SOFTWARE ENGINEER
                                                             </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="5"><br /></td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>
MAIKE JOESTER</b>
                                                                <br />DATA ANALYST
                                                            </td>
                                                             <td>&nbsp;</td>
                                                             <td>
                                                                 <b>DAN PALMER</b>
                                                                <br />IMPAX PROJECT SUPPORT
                                                             </td>
                                                             <td>&nbsp;</td>
                                                             <td>
                                                                 <b></b>
                                                                <br />
                                                             </td>
                                                        </tr>
                                                    </table>
                                                    <hr />
                                                    <center>
                                                    <b><a href="#">FEATURED IN</a></b>
                                                        </center>
                                                    <img src="~/img/about/featured.jpg" width="800" />
                                                    <img src="~/img/about/handshake.jpg" width="800" />
                                                        </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*<!-- end course content container -->*@

                                @*<!-- start course content container -->*@
                                <div class="mu-course-container mu-course-details">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="mu-latest-course-single">
                                                
                                                <div class="mu-latest-course-single-content">
                                                    <hr />
                                                    <h2 class="text-center">DO YOU HAVE ANY QUESTIONS? ASK US TODAY!</h2>
                                                    
                                                    <center>
                                               <a href="mailto:info@colvistec.de?subject=Request via  Webpage"><input type="submit" value="Contact us" class="mu-post-btn" name="submit"></a>
                                                        </center>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*<!-- end course content container -->*@
                               
                            </div>
                            <div class="col-md-12">
                                @*<!-- start sidebar -->*@
                                <aside class="mu-sidebar">
                                    @*<!-- start single sidebar -->*@
                                    <div class="mu-single-sidebar">
                                        <h3>About</h3>
                                        <ul class="mu-sidebar-catg">
                                            <li><a href="/home/about">About</a></li>    
                                        </ul>
                                    </div>
                                    @*<!-- end single sidebar -->*@
                                   
                                    @*<!-- start single sidebar -->*@
                                    <div class="mu-single-sidebar">
                                        <h3>Tags Cloud</h3>
                                        <div class="tag-cloud">
                                            <a href="#">inline spectroscopy</a>
                                            <a href="#">inline uv-vis spectroscopy</a>
                                            <a href="#">inline nir spectroscopy</a>
                                            <a href="#">inline process monitoring</a>
                                            <a href="#">uv-vis spectrometer</a>
                                            <a href="#">uv vis spectroscopy</a>                                           
                                            <a href="#">continuous production</a>
                                            <a href="#">pharmaceutical manufacturing</a>
                                            <a href="#">raman spectroscopy</a>
                                            <a href="#">ir spectroscopy</a>
                                        </div>
                                    </div>
                                    @*<!-- end single sidebar -->*@
                                </aside>
                                @*<!-- / end sidebar -->*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>