@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="mu-course-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-course-content-area">
                    <div class="row">
                        <div class="col-md-12 mb-25">
                            @*<!-- start course content container -->*@
                            <div class="mu-course-container mu-course-details">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="mu-latest-course-single">

                                            <div class="mu-latest-course-single-content">
                                                <center><h1><a href="#">Impressum</a></h1></center>
                                                <p>
                                                    ColVisTec AG
                                                    <br />
                                                    Max-Planck-Str. 3
                                                    <br />12489 Berlin - Adlershof
                                                    <br />Germany
                                                    <br /><br />
                                                    Telefon: +49 (0)30 6392 7816
                                                    <br />Telefax: +49 (0)30 6392 7818
                                                    <br />Email: info@colvistec.de
                                                    <br /><br />
                                                    Registriergericht:
                                                    <br />Amtsgericht Berlin Charlottenburg, HRB 119073B
                                                    <br />Umsatzsteuer-Identnummer: DE 264 632 131
                                                    <br /><br />
                                                    Vorstandsvorsitzender: Jan H. Johnsen
                                                    <br />Vorsitzender des Aufsichtsrats: Jens Alder

                                                    (c) ColVisTec AG, Berlin. Alle Rechte vorbehalten.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<!-- end course content container -->
                            <!-- start course content container -->*@
                            <div class="mu-course-container mu-course-details">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="mu-latest-course-single">

                                            <div class="mu-latest-course-single-content">
                                                <hr />
                                                <h2 class="text-center">DO YOU HAVE ANY QUESTIONS? ASK US TODAY!</h2>

                                                <center>
                                                    <a href="mailto:info@colvistec.de?subject=Request via  Webpage"><input type="submit" value="Contact us" class="mu-post-btn" name="submit"></a>
                                                </center>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<!-- end course content container -->*@

                        </div>
                        <div class="col-md-12">
                            @*<!-- start sidebar -->*@
                            <aside class="mu-sidebar">
                                @*<!-- start single sidebar -->*@
                                <div class="mu-single-sidebar">
                                    <h3>About</h3>
                                    <ul class="mu-sidebar-catg">
                                        <li><a href="/home/about">About</a></li>
                                    </ul>
                                </div>
                                @*<!-- end single sidebar -->
                                <!-- start single sidebar -->*@
                                <div class="mu-single-sidebar">
                                    <h3>Tags Cloud</h3>
                                    <div class="tag-cloud">
                                        <a href="#">Colvistec</a>
                                        <a href="#">Science</a>
                                        <a href="#">Fiber Optic Probes</a>
                                        <a href="#">Impax Pharma Project</a>
                                        <a href="#">IN-LINE UV-VIS Spectroscopy</a>
                                        <a href="#">Chemical Industries</a>
                                        <a href="#">Colvistec Environment</a>
                                    </div>
                                </div>
                                @*<!-- end single sidebar -->*@
                            </aside>
                            @*<!-- / end sidebar -->*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>