@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}
@*<!-- Start Slider -->*@
<section id="mu-slider">
    @*<!-- Start single slider item -->*@
    <div class="mu-slider-single">
        <div class="mu-slider-img">
            <figure>
                <video autoplay muted>
                    <source src="~/img/videos/0.mp4" type="video/mp4" />
                    Your browser does not support the video tag.
                </video>
            </figure>
        </div>
        <div class="mu-slider-content">
            @*<!--<h4>Welcome To Colvistec</h4>
            <span></span>-->*@
            <h1>LEADERS IN <br />INLINE SPECTROSCOPIC <br />PROCESS CONTROL</h1>
            <p>WE PROVIDE INLINE UV-VIS, NIR, AND RAMAN SPECTROSCOPY PROCESS CONTROL TO ENSURE PRODUCT QUALITY AND SAFETY IN EXTRUSION AND MIXING PROCESSES.</p>
            <a href="/industry/process_control" class="mu-read-more-btn">Industries</a>
            <a href="/technology/continuous_production" class="mu-read-more-btn">Technology</a>
        </div>
    </div>

</section>
@*<!-- End Slider -->*@
<section id="mu-course-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-course-content-area">
                    <div class="row">
                        <div class="col-md-12 mb-25">
                            @*<!-- start course content container -->*@
                            <div class="mu-course-container mu-course-details">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="mu-latest-course-single">
                                            <figure class="mu-latest-course-img">
                                                <a href="https://www.impax.eu/"><img src="~/img/7.jpg" alt="img"></a>
                                            </figure>
                                            <div class="mu-latest-course-single-content">
                                                <h4>Intro</h4>
                                                <p>At ColVisTec, we provide inline spectroscopy process control in extruders for pharmaceutical, chemical, coating, polymer and plastic extrusion via inline UV-Vis, NIR, Raman spectroscopy solutions. Our company was founded in 2009 and is now co-funded by the Horizon 2020 program of the European Union.</p>
                                                <hr />
                                                <div class="mu-linked-communites">
                                                    <h5 class="mu-linked-communites-title">PARTNERED WITH</h5>
                                                    <div class="row mu-linked-communites-container">
                                                        <div class="col-md-4 col-sm-6 col-6 mu-community-item">
                                                            <img src="~/img/images/de-montfort-university.jpg" alt="powtech" />
                                                        </div>
                                                        <div class="col-md-4 col-sm-6 col-6 mu-community-item">
                                                            <img src="~/img/images/entex.jpg" alt="" />
                                                        </div>
                                                        <div class="col-md-4 col-sm-6 col-6 mu-community-item">
                                                            <img src="~/img/images/skz.jpg" alt="achema" />
                                                        </div>
                                                        <div class="col-md-4 col-sm-6 col-6 mu-community-item">
                                                            <img src="~/img/images/nw.jpg" alt="fakuma" />
                                                        </div>
                                                        <div class="col-md-4 col-sm-6 col-6 mu-community-item">
                                                            <img src="~/img/images/leistritz.jpg" alt="" />
                                                        </div>
                                                        <div class="col-md-4 col-sm-6 col-6 mu-community-item">
                                                            <img src="~/img/images/exeter.jpg" alt="" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<!-- end course content container -->
                            <!-- start course content container -->*@
                            <div class="mu-course-container mu-course-details">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="mu-latest-course-single">
                                            <figure class="mu-latest-course-img">
                                                <a href="/industry/process_control"><img src="~/img/industries/process_control.jpg" alt="img"></a>
                                            </figure>
                                            <div class="mu-latest-course-single-content">
                                                <h4><a href="/industry/process_control">Industries</a></h4>

                                                <h2>GUARANTEED QUALITY & SAFETY OF YOUR PRODUCTS</h2>
                                                <p>Early detect and prevent any errors or deviations that can occur in the production process.</p>
                                                <a href="/industry/process_control">Learn more</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<!-- end course content container -->
                            <!-- start course content container -->*@
                            <div class="mu-course-container mu-course-details">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="mu-latest-course-single">
                                            <figure class="mu-latest-course-img">
                                                <a href="/technology/continuousProduction"><img src="~/img/technology/colvistec_technology.jpg" alt="img"></a>
                                            </figure>
                                            <div class="mu-latest-course-single-content">
                                                <h4><a href="/technology/continuousProduction">Technology</a></h4>

                                                <h2>IMPROVE PROCESS CONTROL AT YOUR FACTORY</h2>
                                                <p>Our inline UV-Vis, NIR, and Raman spectroscopy solutions allows you to continuously measure the manufactured substance every 10 seconds in the process without sampling, without interrupting the production line, and without delays.</p>
                                                <a href="/technology/continuous_production">Learn more</a>
                                                <hr />
                                                <div class="mu-linked-communites">
                                                    <h5 class="mu-linked-communites-title">PARTICIPATED IN</h5>
                                                    <div class="row mu-linked-communites-container">
                                                        <div class="col-md-4 col-sm-6 col-6 mu-community-item">
                                                            <img src="~/img/images/powtech.jpg" alt="powtech" />
                                                        </div>
                                                        <div class="col-md-4 col-sm-6 col-6 mu-community-item">
                                                            <img src="~/img/images/k.jpg" alt="" />
                                                        </div>
                                                        <div class="col-md-4 col-sm-6 col-6 mu-community-item">
                                                            <img src="~/img/images/achema.jpg" alt="achema" />
                                                        </div>
                                                        <div class="col-md-4 col-sm-6 col-6 mu-community-item">
                                                            <img src="~/img/images/fakuma.jpg" alt="fakuma" />
                                                        </div>
                                                        <div class="col-md-4 col-sm-6 col-6 mu-community-item">
                                                            <img src="~/img/images/circle.jpg" alt="" />
                                                        </div>
                                                        <div class="col-md-4 col-sm-6 col-6 mu-community-item">
                                                            <img src="~/img/images/c.jpg" alt="" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<!-- end course content container -->
                            <!-- start course content container -->*@
                            <div class="mu-course-container mu-course-details">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="mu-latest-course-single">
                                            <figure class="mu-latest-course-img">
                                                <a href="#"><img src="~/img/videos/impax.jpg" alt="img"></a>
                                            </figure>
                                            <div class="mu-latest-course-single-content">
                                                <h4><a href="#">IN DEVELOPMENT</a></h4>

                                                <h2>IMPAX PHARMA PROJECT</h2>
                                                <p>Learn how IMPAX will change the pharmaceutical production by solving the ongoing challenge of maximizing bioavailability for an increased number of poorly soluble drug compounds. </p>
                                                <a href="https://www.impax.eu/">Learn more</a>
                                                <hr />
                                                <div class="mu-linked-communites">
                                                    <h5 class="mu-linked-communites-title">FEATURED IN</h5>
                                                    <div class="row mu-linked-communites-container">
                                                        <div class="col-md-4 col-sm-6 col-6 mu-community-item">
                                                            <img src="~/img/images/ingenieurde.jpg" alt="" />
                                                        </div>
                                                        <div class="col-md-4 col-sm-6 col-6 mu-community-item">
                                                            <img src="~/img/images/scientistlive.jpg" alt="" />
                                                        </div>
                                                        <div class="col-md-4 col-sm-6 col-6 mu-community-item">
                                                            <img src="~/img/images/plastics.jpg" alt="" />
                                                        </div>
                                                        <div class="col-md-6 col-sm-6 col-6 mu-community-item">
                                                            <img src="~/img/images/pressebox.jpg" alt="" />
                                                        </div>
                                                        <div class="col-md-6 col-sm-6 col-6 mu-community-item">
                                                            <img src="~/img/images/engineerlive.jpg" alt="" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<!-- end course content container -->
                            <!-- start course content container -->*@
                            <div class="mu-course-container mu-course-details">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="mu-latest-course-single">

                                            <div class="mu-latest-course-single-content">
                                                <hr />
                                                <h2 class="text-center">DO YOU HAVE ANY QUESTIONS? ASK US TODAY!</h2>

                                                <center>
                                                    <a href="mailto:info@colvistec.de?subject=Request via  Webpage"><input type="submit" value="Contact us" class="mu-post-btn" name="submit"></a>
                                                </center>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<!-- end course content container -->*@

                        </div>
                        <div class="col-md-12">
                            @*<!-- start sidebar -->*@
                            <aside class="mu-sidebar">
                                @*<!-- start single sidebar -->*@
                                <div class="mu-single-sidebar">
                                    <h3>Industries</h3>
                                    <ul class="mu-sidebar-catg">
                                        <li><a href="/industry/process_control">Process Control</a></li>
                                        <li><a href="/industry/plastic_ploymers">Plastic & Polymers</a></li>
                                        <li><a href="/industry/pharmaceutical_production">Pharmaceutical Production</a></li>
                                        <li><a href="/industry/paint_coatings">Paint & Coatings</a></li>
                                        <li><a href="/industry/chemical_manufacturing">Chemical Manufacturing</a></li>
                                    </ul>
                                </div>
                                @*<!-- end single sidebar -->
                                <!-- start single sidebar -->*@
                                <div class="mu-single-sidebar">
                                    <h3>Tags Cloud</h3>
                                    <div class="tag-cloud">
                                        <a href="#">inline spectroscopy</a>
                                        <a href="#">inline uv-vis spectroscopy</a>
                                        <a href="#">inline nir spectroscopy</a>
                                        <a href="#">inline process monitoring</a>
                                        <a href="#">uv-vis spectrometer</a>
                                        <a href="#">uv vis spectroscopy</a>
                                        <a href="#">continuous production</a>
                                        <a href="#">pharmaceutical manufacturing</a>
                                        <a href="#">raman spectroscopy</a>
                                        <a href="#">ir spectroscopy</a>
                                    </div>
                                </div>
                                @*<!-- end single sidebar -->*@
                            </aside>
                            @*<!-- / end sidebar -->*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
