@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}
<section id="mu-course-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-course-content-area">
                    <div class="row">
                        <div class="col-md-12 mb-25">
                            <!-- start course content container -->
                            <div class="mu-course-container mu-blog-archive">
                                <div class="d-flex flex-wrap">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <article class="mu-blog-single-item">
                                                <figure class="mu-blog-single-img">
                                                    <a href="Fakuma-Trade-Show-2017-in-Friedrichshafen-Germany.aspx"><img src="~/img/news/Fakuma-Trade-Show-2017.jpg" alt="img"></a>
                                                    <figcaption class="mu-blog-caption">
                                                        <b>Fakuma Trade Show 2017 in Friedrichshafen, Germany</b>
                                                    </figcaption>
                                                </figure>

                                                <div class="mu-blog-description">
                                                    <p>
                                                        We are eager to announce that we will be one of the exhibitors in the upcoming Fakuma Trade Show 2017, which takes place in Friedrichshafen, Germany.

                                                        The event, which is scheduled over fou...
                                                    </p>

                                                    <a class="mu-read-more-btn" href="Fakuma-Trade-Show-2017-in-Friedrichshafen-Germany.aspx">Read More</a>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <article class="mu-blog-single-item">
                                                <figure class="mu-blog-single-img">
                                                    <a href="EXPOQUIMIA-2017-The-International-Chemistry-Event-in-Barcelona-Spain.aspx"><img src="~/img/news/EXPOQUIMIA-2017-The-Interna.jpg" alt="img"></a>
                                                    <figcaption class="mu-blog-caption">
                                                        <b>EXPOQUIMIA 2017: The International Chemistry Event in Barcelona, Spain</b>
                                                    </figcaption>
                                                </figure>

                                                <div class="mu-blog-description">
                                                    <p>

                                                        ColVisTec is excited to announce its participation in the EXPOQUIMIA 2017 – The International Chemistry Event, which will take place in Barcelona, Spain.

                                                        From the 2nd to the 6th of October...
                                                    </p>
                                                    <a class="mu-read-more-btn" href="EXPOQUIMIA-2017-The-International-Chemistry-Event-in-Barcelona-Spain.aspx">Read More</a>
                                                </div>
                                            </article>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <article class="mu-blog-single-item">
                                                <figure class="mu-blog-single-img">
                                                    <a href="POWTECH-Show-2017-in-Nuremberg-Germany.aspx"><img src="~/img/news/POWTECH-Show-2017.jpg" alt="img"></a>
                                                    <figcaption class="mu-blog-caption">
                                                        <b>POWTECH Show 2017 at NürnbergMesse in Nuremberg, Germany</b>
                                                    </figcaption>
                                                </figure>

                                                <div class="mu-blog-description">
                                                    <p>
                                                        Today, we are happy to announce its participation in the 20th POWTECH exhibition, which will take place between September 26-28, 2017 in Nuremberg, Germany.

                                                        The three-day event will see ov...
                                                    </p>
                                                    <a class="mu-read-more-btn" href="POWTECH-Show-2017-in-Nuremberg-Germany.aspx">Read More</a>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <article class="mu-blog-single-item">
                                                <figure class="mu-blog-single-img">
                                                    <a href="VDI-Wissensforum-Extrusion-Technology-for-Industry-40-in-Cologne-Germany.aspx"><img src="~/img/news/VDI-Wissensforum-Extrusion.jpg" alt="img"></a>
                                                    <figcaption class="mu-blog-caption">
                                                        <b>VDI Wissensforum Extrusion Technology for Industry 4.0 in Cologne, Germany</b>
                                                    </figcaption>
                                                </figure>

                                                <div class="mu-blog-description">
                                                    <p>

                                                        ColVisTec would like to announce its participation in the VDI Wissensforum Extrusion Technology for Industry 4.0 event, which will take place between June 21–22, 2017. The event will exam...
                                                    </p>
                                                    <a class="mu-read-more-btn" href="VDI-Wissensforum-Extrusion-Technology-for-Industry-40-in-Cologne-Germany.aspx">Read More</a>
                                                </div>
                                            </article>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <article class="mu-blog-single-item">
                                                <figure class="mu-blog-single-img">
                                                    <a href="The-International-Conference-on-Near-Infrared-Spectroscopy-2017-in-Copenhagen-Denmark.aspx"><img src="~/img/news/International-Conferenc.jpg" alt="img"></a>
                                                    <figcaption class="mu-blog-caption">
                                                        <b>The International Conference on Near Infrared Spectroscopy 2017 in Copenhagen, Denmark</b>

                                                    </figcaption>
                                                </figure>

                                                <div class="mu-blog-description">
                                                    <p>

                                                        ColVisTec is proud to announce its participation in the International Conference on Near Infrared Spectroscopy 2017 (ICNIRS2017) meeting, which will be held at the Bella Center in Copenha...
                                                    </p>
                                                    <a class="mu-read-more-btn" href="The-International-Conference-on-Near-Infrared-Spectroscopy-2017-in-Copenhagen-Denmark.aspx">Read More</a>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <article class="mu-blog-single-item">
                                                <figure class="mu-blog-single-img">
                                                    <a href="The-2017-Pharmaceutical-Extrusion-Seminar-in-New-Jersey-USA.aspx"><img src="~/img/news/The-2017-Pharmaceutical-Ext.jpg" alt="img"></a>
                                                    <figcaption class="mu-blog-caption">
                                                        <b>The 2017 Pharmaceutical Extrusion Seminar in New Jersey, USA</b>
                                                    </figcaption>
                                                </figure>

                                                <div class="mu-blog-description">
                                                    <p>
                                                        Today, we would like to announce our participation in the 12th Pharmaceutical Extrusion Seminar, which will be held at two locations in New Jersey, United States.

                                                        The two-day event takes p...
                                                    </p>
                                                    <a class="mu-read-more-btn" href="The-2017-Pharmaceutical-Extrusion-Seminar-in-New-Jersey-USA.aspx">Read More</a>
                                                </div>
                                            </article>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <article class="mu-blog-single-item">
                                                <figure class="mu-blog-single-img">
                                                    <a href="The-European-Coatings-Show-2017-in-Nuremberg-Germany.aspx"><img src="~/img/news/The-European-Coatings-Show.jpg" alt="img"></a>
                                                    <figcaption class="mu-blog-caption">
                                                        <b>The European Coatings Show 2017 in Nuremberg, Germany</b>
                                                    </figcaption>
                                                </figure>

                                                <div class="mu-blog-description">
                                                    <p>

                                                        We are pleased to announce our participation in the European Coatings Show 2017, which will be held at the Nuremberg Exhibition Center (Nürnberg Messe), Germany.

                                                        The event takes place betw...


                                                    </p>
                                                    <a class="mu-read-more-btn" href="The-European-Coatings-Show-2017-in-Nuremberg-Germany.aspx">Read More</a>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <article class="mu-blog-single-item">
                                                <figure class="mu-blog-single-img">
                                                    <a href="Pharma-Extrusion-Academy-2017-in-Nuremberg-Germany.aspx"><img src="~/img/news/Pharma-Extrusion-Academy.jpg" alt="img"></a>
                                                    <figcaption class="mu-blog-caption">
                                                        <b>Pharma Extrusion Academy 2017 in Nuremberg, Germany</b>
                                                    </figcaption>
                                                </figure>

                                                <div class="mu-blog-description">
                                                    <p>
                                                        ColVisTec is delighted to announce its participation in the Leistritz Pharma Extrusion Academy 2017 in Nuremberg, Germany. The two-day, intensive training program focuses on the operation...
                                                    </p>
                                                    <a class="mu-read-more-btn" href="Pharma-Extrusion-Academy-2017-in-Nuremberg-Germany.aspx">Read More</a>
                                                </div>
                                            </article>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <article class="mu-blog-single-item">
                                                <figure class="mu-blog-single-img">
                                                    <a href="The-5th-Quality-by-Design-Symposium-at-De-Montfort-University-Leicester-UK.aspx"><img src="~/img/news/The-5th-Quality-by-Design.jpg" alt="img"></a>
                                                    <figcaption class="mu-blog-caption">
                                                        <b>The 5th Quality by Design Symposium at De Montfort University, Leicester, UK</b>
                                                    </figcaption>
                                                </figure>

                                                <div class="mu-blog-description">
                                                    <p>

                                                        The 5th Quality by Design Symposium at De Montfort University, Leicester, UK
                                                        Today, we are excited to announce that we became one of the main sponsors of the 5th Quality by Design Symposium at De Montfort University, Leicester that will be held on March 29, 2017...
                                                    </p>
                                                    <a class="mu-read-more-btn" href="The-5th-Quality-by-Design-Symposium-at-De-Montfort-University-Leicester-UK.aspx">Read More</a>
                                                </div>
                                            </article>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            @*<!-- end course content container -->
                            <!-- start course pagination -->*@
                            <div class="mu-pagination">
                                <nav>
                                    <ul class="pagination">
                                        <li>
                                            <a href="/home/news_publications2" aria-label="Previous">
                                                <span class="fa fa-angle-left"></span> Prev
                                            </a>
                                        </li>
                                        <li><a href="/home/news_publications">1</a></li>
                                        <li><a href="/home/news_publications2">2</a></li>
                                        <li class="active"><a href="/home/news_publications3">3</a></li>
                                    </ul>
                                </nav>
                            </div>
                            @*<!-- end course pagination -->*@
                        </div>
                        <div class="col-md-12">
                            @*<!-- start sidebar -->*@
                            <aside class="mu-sidebar">
                                @*<!-- start single sidebar -->*@
                                <div class="mu-single-sidebar">
                                    <h3>Tags Cloud</h3>
                                    <div class="tag-cloud">
                                        <a href="#">inline spectroscopy</a>
                                        <a href="#">inline uv-vis spectroscopy</a>
                                        <a href="#">inline nir spectroscopy</a>
                                        <a href="#">inline process monitoring</a>
                                        <a href="#">uv-vis spectrometer</a>
                                        <a href="#">uv vis spectroscopy</a>
                                        <a href="#">continuous production</a>
                                        <a href="#">pharmaceutical manufacturing</a>
                                        <a href="#">raman spectroscopy</a>
                                        <a href="#">ir spectroscopy</a>
                                    </div>
                                </div>
                                @*<!-- end single sidebar -->*@
                            </aside>
                            @*<!-- / end sidebar -->*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
