@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}
<section id="mu-course-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-course-content-area">
                    <div class="row">
                        <div class="col-md-12 mb-25">
                            @*<!-- start course content container -->*@
                            <div class="mu-course-container mu-blog-archive">
                                <div class="d-flex flex-wrap">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <article class="mu-blog-single-item">
                                                <figure class="mu-blog-single-img">
                                                    <a href="Corporate-Day-by-the-European-Innovation-Council-at-Solvay-in-Brussels-Belgium.aspx"><img src="~/img/news/Corporate-Day-by-the-Europe.jpg" alt="img"></a>
                                                    <figcaption class="mu-blog-caption">
                                                        <b>Corporate Day by the European Innovation Council at Solvay in Brussels, Belgium</b>
                                                    </figcaption>
                                                </figure>

                                                <div class="mu-blog-description">
                                                    <p>ColVisTec is going to participate in a business acceleration event for companies funded by the European Innovation Council pilot which is organized by Solvay, a renowned chemicals and adv...</p>

                                                    <a class="mu-read-more-btn" href="Corporate-Day-by-the-European-Innovation-Council-at-Solvay-in-Brussels-Belgium.aspx">Read More</a>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <article class="mu-blog-single-item">
                                                <figure class="mu-blog-single-img">
                                                    <a href="Technology-Day-Extrusion-and-Compounding-at-SKZ-in-Wurzburg-Germany.aspx"><img src="~/img/news/Technology-Day-Extrusion-an.jpg" alt="img"></a>
                                                    <figcaption class="mu-blog-caption">
                                                        <b>Technology Day Extrusion and Compounding at SKZ in Würzburg, Germany</b>
                                                    </figcaption>
                                                </figure>

                                                <div class="mu-blog-description">
                                                    <p>We are happy to announce our participation in the first ever Technology Day Extrusion and Compounding. This day-long event will take place on June 20, 2018, at the German Plastics Center...</p>
                                                    <a class="mu-read-more-btn" href="Technology-Day-Extrusion-and-Compounding-at-SKZ-in-Wurzburg-Germany.aspx">Read More</a>
                                                </div>
                                            </article>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <article class="mu-blog-single-item">
                                                <figure class="mu-blog-single-img">
                                                    <a href="The-ACHEMA-2018-Show-in-Frankfurt-Germany.aspx"><img src="~/img/news/The-ACHEMA-2018-Show.jpg" alt="img"></a>
                                                    <figcaption class="mu-blog-caption">
                                                        <b>The ACHEMA 2018 Show at Messe Frankfurt in Frankfurt, Germany</b>
                                                    </figcaption>
                                                </figure>

                                                <div class="mu-blog-description">
                                                    <p>We are delighted to announce our upcoming participation in the ACHEMA 2018 Show, which takes place on June 11-15, 2018 in Frankfurt, Germany. The show is the leading forum for discussion...</p>
                                                    <a class="mu-read-more-btn" href="The-ACHEMA-2018-Show-in-Frankfurt-Germany.aspx">Read More</a>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <article class="mu-blog-single-item">
                                                <figure class="mu-blog-single-img">
                                                    <a href="Extrusion-Technology-in-Food-Processing-at-ZDS-in-Solingen-Germany.aspx"><img src="~/img/news/Extrusion-Technology-in-Foo.jpg" alt="img"></a>
                                                    <figcaption class="mu-blog-caption">
                                                        <b>Extrusion Technology in Food Processing at ZDS in Solingen, Germany</b>
                                                    </figcaption>
                                                </figure>

                                                <div class="mu-blog-description">
                                                    <p>We are proud to announce that ColVisTec’s Director of Sales, Marketing, and Customization Fuat Eker will be one of the lecturers at the upcoming seminar “Extrusion Technology in Food Proc...</p>
                                                    <a class="mu-read-more-btn" href="Extrusion-Technology-in-Food-Processing-at-ZDS-in-Solingen-Germany.aspx">Read More</a>
                                                </div>
                                            </article>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <article class="mu-blog-single-item">
                                                <figure class="mu-blog-single-img">
                                                    <a href="The-Farbe-und-Lack-Industrie-4-0-Conference-in-Kassel-Germany.aspx"><img src="~/img/news/The-Farbe-und-Lack-Industri.jpg" alt="img"></a>
                                                    <figcaption class="mu-blog-caption">
                                                        <b>The Farbe und Lack Industrie 4.0 Conference in Kassel, Germany</b>

                                                    </figcaption>
                                                </figure>

                                                <div class="mu-blog-description">
                                                    <p>
                                                        We are proud to announce our participation at the Farbe und Lack Industrie 4.0 Conference in Kassel, Germany. The event will take place on April 17 and 18, 2018 at the Best Western Plus H...
                                                    </p>
                                                    <a class="mu-read-more-btn" href="The-Farbe-und-Lack-Industrie-4-0-Conference-in-Kassel-Germany.aspx">Read More</a>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <article class="mu-blog-single-item">
                                                <figure class="mu-blog-single-img">
                                                    <a href="The-6th-Quality-by-Design-Symposium-at-De-Montfort-University-Leicester.aspx"><img src="~/img/news/The-6th-Quality-by-Design-S.jpg" alt="img"></a>
                                                    <figcaption class="mu-blog-caption">
                                                        <b>The 6th Quality by Design Symposium at De Montfort University, Leicester, UK</b>
                                                    </figcaption>
                                                </figure>

                                                <div class="mu-blog-description">
                                                    <p>
                                                        In the wake of our successful sponsorship of 2017’s Quality by Design Symposium, ColVisTec is delighted to announce its involvement with the 6th Quality by Design Symposium.

                                                        The all-day ev...
                                                    </p>
                                                    <a class="mu-read-more-btn" href="The-6th-Quality-by-Design-Symposium-at-De-Montfort-University-Leicester.aspx">Read More</a>
                                                </div>
                                            </article>
                                        </div>
                                    </div>

                                    
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <article class="mu-blog-single-item">
                                                <figure class="mu-blog-single-img">
                                                    <a href="ResearchFarm-2018-in-Granada-Spain.aspx"><img src="~/img/news/ResearchFarm-2018.jpg" alt="img"></a>
                                                    <figcaption class="mu-blog-caption">
                                                        <b>ResearchFarm® 2018 at the Granada Congress Center in Granada, Spain</b>
                                                    </figcaption>
                                                </figure>

                                                <div class="mu-blog-description">
                                                    <p>



                                                        ColVisTec would like to cordially invite you to join us at the Granada Congress Center for the International Exhibition for Research and Development, ResearchFarm® 2018.

                                                        The event will tak...


                                                    </p>
                                                    <a class="mu-read-more-btn" href="ResearchFarm-2018-in-Granada-Spain.aspx">Read More</a>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <article class="mu-blog-single-item">
                                                <figure class="mu-blog-single-img">
                                                    <a href="The-2017-SKZ-Qualitaetssicherung-Kunststoff-in-Wurzburg-Germany.aspx"><img src="~/img/news/The-2017-SKZ-Qualitaetssiche.jpg" alt="img"></a>
                                                    <figcaption class="mu-blog-caption">
                                                        <b>The 2017 SKZ Qualitätssicherung Kunststoff in Würzburg, Germany</b>
                                                    </figcaption>
                                                </figure>

                                                <div class="mu-blog-description">
                                                    <p>

                                                        ColVisTec is proud to announce its upcoming participation in the 2017 SKZ Qualitätssicherung Kunststoff event, which is scheduled to take place between November 29–30, 2017.

                                                        Over the cours...
                                                    </p>
                                                    <a class="mu-read-more-btn" href="The-2017-SKZ-Qualitaetssicherung-Kunststoff-in-Wurzburg-Germany.aspx">Read More</a>
                                                </div>
                                            </article>
                                        </div>
                                    </div>

                                    
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <article class="mu-blog-single-item">
                                                <figure class="mu-blog-single-img">
                                                    <a href="The-2017-Leistritz-Compounding-Workshop-in-Nuremberg-Germany.aspx"><img src="~/img/news/The-2017-Leistritz-Compound.jpg" alt="img"></a>
                                                    <figcaption class="mu-blog-caption">
                                                        <b>The 2017 Leistritz Compounding Workshop in Nuremberg, Germany</b>
                                                    </figcaption>
                                                </figure>

                                                <div class="mu-blog-description">
                                                    <p>


                                                        ColVisTec is proud to announce its participation in the 2017 Leistritz Compounding Workshop, which takes place at the Sheraton Carlton Hotel in Nuremberg, Germany on November 8-9, 2017.

                                                        At...
                                                    </p>
                                                    <a class="mu-read-more-btn" href="The-2017-Leistritz-Compounding-Workshop-in-Nuremberg-Germany.aspx">Read More</a>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <article class="mu-blog-single-item">
                                                <figure class="mu-blog-single-img">
                                                    <a href="The-2017-APV-Master-Class-Seminar-at-AbbVie-in-Ludwigshafen-Germany.aspx"><img src="~/img/news/The-2017-APV-Master-Class.jpg" alt="img"></a>
                                                    <figcaption class="mu-blog-caption">
                                                        <b>The 2017 APV Master Class Seminar at AbbVie in Ludwigshafen, Germany</b>
                                                    </figcaption>
                                                </figure>

                                                <div class="mu-blog-description">
                                                    <p>
                                                        We would like to announce our participation in the 2017 APV Master Class Seminar, which will take place on November 7-9, 2017 in Ludwigshafen, Germany.

                                                        Hosted in cooperation with AbbVie, t...
                                                    </p>
                                                    <a class="mu-read-more-btn" href="The-2017-APV-Master-Class-Seminar-at-AbbVie-in-Ludwigshafen-Germany.aspx">Read More</a>
                                                </div>
                                            </article>
                                        </div>
                                    </div>

                                    
                                </div>
                            </div>
                            @*<!-- end course content container -->
                            <!-- start course pagination -->*@
                            <div class="mu-pagination">
                                <nav>
                                    <ul class="pagination">
                                        <li>
                                            <a href="/home/news_publications" aria-label="Previous">
                                                <span class="fa fa-angle-left"></span> Prev
                                            </a>
                                        </li>
                                        <li><a href="/home/news_publications">1</a></li>
                                        <li class="active"><a href="/home/news_publications2">2</a></li>
                                        <li><a href="/home/news_publications3">3</a></li>

                                        <li>
                                            <a href="/home/news_publications3" aria-label="Next">
                                                Next <span class="fa fa-angle-right"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            @*<!-- end course pagination -->*@
                        </div>
                        <div class="col-md-12">
                            @*<!-- start sidebar -->*@
                            <aside class="mu-sidebar">
                                @*<!-- start single sidebar -->*@
                                <div class="mu-single-sidebar">
                                    <h3>Tags Cloud</h3>
                                    <div class="tag-cloud">
                                        <a href="#">inline spectroscopy</a>
                                        <a href="#">inline uv-vis spectroscopy</a>
                                        <a href="#">inline nir spectroscopy</a>
                                        <a href="#">inline process monitoring</a>
                                        <a href="#">uv-vis spectrometer</a>
                                        <a href="#">uv vis spectroscopy</a>
                                        <a href="#">continuous production</a>
                                        <a href="#">pharmaceutical manufacturing</a>
                                        <a href="#">raman spectroscopy</a>
                                        <a href="#">ir spectroscopy</a>
                                    </div>
                                </div>
                                @*<!-- end single sidebar -->*@
                            </aside>
                            @*<!-- / end sidebar -->*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>