@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="mu-course-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-course-content-area">
                    <div class="row">
                        <div class="col-md-12 mb-25">
                            @*<!-- start course content container -->*@
                            <div class="mu-course-container mu-blog-archive">
                                <div class="d-flex flex-wrap">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <article class="mu-blog-single-item">
                                                <figure class="mu-blog-single-img">
                                                    <a href="K-Show-The-Worlds-1-Trade-Fair-for-Plastics-and-Rubber-in-Dusseldorf-Germany.aspx"><img src="~/img/news/K-Show-The-Worlds-1-Trade-F.jpg" alt="img"></a>
                                                    <figcaption class="mu-blog-caption">
                                                        <b>K Show: The World’s #1 Trade Fair for Plastics and Rubber in Dusseldorf, Germany</b>
                                                    </figcaption>
                                                </figure>

                                                <div class="mu-blog-description">
                                                    <p>
                                                        The time has come for us to once again eagerly invite everyone interested to come and find us at yet another trade exhibition, K Show in Dusseldorf. Set to take place at the Dusseldorf Fa...
                                                    </p>
                                                    <a class="mu-read-more-btn" href="K-Show-The-Worlds-1-Trade-Fair-for-Plastics-and-Rubber-in-Dusseldorf-Germany.aspx">Read More</a>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <article class="mu-blog-single-item">
                                                <figure class="mu-blog-single-img">
                                                    <a href="APV-Expert-Workshop-Quality-by-Design-Based-Formulation-Strategies-in-Continuous-Processing.aspx"><img src="~/img/news/APV-Expert-Workshop-Quality.jpg" alt="img"></a>
                                                    <figcaption class="mu-blog-caption">
                                                        <b>APV Expert Workshop: Quality by Design Based Formulation Strategies in Continuous Processing</b>
                                                    </figcaption>
                                                </figure>

                                                <div class="mu-blog-description">
                                                    <p>
                                                        APV Expert Workshop: Quality by Design Based Formulation Strategies in Continuous Processing

                                                        A joint organizational effort between the International Association for Pharmaceutical Technology (APV), the De Montfort University (DMU) of Leicester, and BASF SE (one of the world’s lar...
                                                    </p>
                                                    <a class="mu-read-more-btn" href="APV-Expert-Workshop-Quality-by-Design-Based-Formulation-Strategies-in-Continuous-Processing.aspx">Read More</a>
                                                </div>
                                            </article>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <article class="mu-blog-single-item">
                                                <figure class="mu-blog-single-img">
                                                    <a href="POWTECH-2019-in-Nuremberg-Germany.aspx"><img src="~/img/news/POWTECH-2019-in-Nuremberg-G.jpg" alt="img"></a>
                                                    <figcaption class="mu-blog-caption">
                                                        <b>POWTECH 2019: Trade Fair around Bulk Solids and Powder in Nuremberg, Germany</b>
                                                    </figcaption>
                                                </figure>

                                                <div class="mu-blog-description">
                                                    <p>
                                                        It is with great pleasure that we announce that ColVisTec will be a part of the upcoming POWTECH exhibition.

                                                        POWTECH, one of the gold standards in the world of trade fairs concerning the p...
                                                    </p>
                                                    <a class="mu-read-more-btn" href="POWTECH-2019-in-Nuremberg-Germany.aspx">Read More</a>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <article class="mu-blog-single-item">
                                                <figure class="mu-blog-single-img">
                                                    <a href="SPE-European-Additives-Colors-Conference-2019-in-Frankfurt-in-Germany.aspx"><img src="~/img/news/SPE-European-Additives-Colo.jpg" alt="img"></a>
                                                    <figcaption class="mu-blog-caption">
                                                        <b>SPE European Additives & Colors Conference 2019 in Frankfurt, Germany</b>
                                                    </figcaption>
                                                </figure>

                                                <div class="mu-blog-description">
                                                    <p>
                                                        SPE European Additives & Colors Conference 2019 in Frankfurt, Germany

                                                        SPE European Additives & Colors Conference takes place every two years, and the 2019 edition will be in Frankfurt, Germany. Between March 27 and 29, this event will represent the place to...
                                                    </p>
                                                    <a class="mu-read-more-btn" href="SPE-European-Additives-Colors-Conference-2019-in-Frankfurt-in-Germany.aspx">Read More</a>
                                                </div>
                                            </article>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <article class="mu-blog-single-item">
                                                <figure class="mu-blog-single-img">
                                                    <a href="7th-Quality-by-Design-Symposium-at-De-Montfort-University-in-Leicester-UK.aspx"><img src="~/img/news/7th-Quality-by-Design-Sympo.jpg" alt="img"></a>
                                                    <figcaption class="mu-blog-caption">
                                                        <b>7th Quality by Design Symposium at De Montfort University in Leicester, UK</b>
                                                    </figcaption>
                                                </figure>

                                                <div class="mu-blog-description">
                                                    <p>Following six highly successful iterations of the event, the Quality by Design Symposium will return for the seventh time. De Montfort University (DMU) of Leicester will host the annual c...</p>
                                                    <a class="mu-read-more-btn" href="7th-Quality-by-Design-Symposium-at-De-Montfort-University-in-Leicester-UK.aspx">Read More</a>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <article class="mu-blog-single-item">
                                                <figure class="mu-blog-single-img">
                                                    <a href="3rd-European-Conference-on-Pharmaceutics-in-Bologna-Italy.aspx"><img src="~/img/news/3rd-European-Conference-on-.jpg" alt="img"></a>
                                                    <figcaption class="mu-blog-caption">
                                                        <b>3rd European Conference on Pharmaceutics in Bologna, Italy</b>
                                                    </figcaption>
                                                </figure>

                                                <div class="mu-blog-description">
                                                    <p>
                                                        We are happy to announce that ColVisTec will join the upcoming 3rd European Conference on Pharmaceutics. The Conference is set to take place on March 25-26, 2019 in Bologna, Italy.

                                                        With a...
                                                    </p>
                                                    <a class="mu-read-more-btn" href="3rd-European-Conference-on-Pharmaceutics-in-Bologna-Italy.aspx">Read More</a>
                                                </div>
                                            </article>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <article class="mu-blog-single-item">
                                                <figure class="mu-blog-single-img">
                                                    <a href="ECS-European-Coatings-Show-in-Nuremberg-Germany.aspx"><img src="~/img/news/ECS-European-Coatings-Show-.jpg" alt="img"></a>
                                                    <figcaption class="mu-blog-caption">
                                                        <b>ECS—European Coatings Show 2019 in Nuremberg</b>
                                                    </figcaption>
                                                </figure>

                                                <div class="mu-blog-description">
                                                    <p>

                                                        ColVisTec is happy to announce it will be an exhibitor at the upcoming ECS—European Coatings Show.

                                                        Following the record-breaking success of the 2017 edition, the European Coatings Show is...


                                                    </p>
                                                    <a class="mu-read-more-btn" href="ECS-European-Coatings-Show-in-Nuremberg-Germany.aspx">Read More</a>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <article class="mu-blog-single-item">
                                                <figure class="mu-blog-single-img">
                                                    <a href="Leistritz-Masterbatch-Workshop-2018-in-Nuremberg-at-Leistritz.aspx"><img src="~/img/news/Leistritz-Masterbatch-Works.jpg" alt="img"></a>
                                                    <figcaption class="mu-blog-caption">
                                                        <b>Leistritz Masterbatch Workshop 2018 in Nuremberg, Germany</b>
                                                    </figcaption>
                                                </figure>

                                                <div class="mu-blog-description">
                                                    <p>It is with no small amount of pride that we can announce that ColVisTec’s very own Fuat Eker, the Director of Sales, Marketing, and Customization, has been asked to participate in the upc...</p>
                                                    <a class="mu-read-more-btn" href="Leistritz-Masterbatch-Workshop-2018-in-Nuremberg-at-Leistritz.aspx">Read More</a>
                                                </div>
                                            </article>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <article class="mu-blog-single-item">
                                                <figure class="mu-blog-single-img">
                                                    <a href="Pharma-Extrusion-Academy-2018-at-Leistritz-in-Nuremberg-Germany.aspx"><img src="~/img/news/Pharma-Extrusion-Academy-20.jpg" alt="img"></a>
                                                    <figcaption class="mu-blog-caption">
                                                        <b>Pharma Extrusion Academy 2018 at Leistritz in Nuremberg, Germany</b>
                                                    </figcaption>
                                                </figure>

                                                <div class="mu-blog-description">
                                                    <p>
                                                        ColVisTec is going to participate in the Pharma Extrusion Academy 2018. This two-day training will take place on October 24 and 25, 2018 at the Ramada Nürnberg Parkhotel and the Leistritz...
                                                    </p>
                                                    <a class="mu-read-more-btn" href="Pharma-Extrusion-Academy-2018-at-Leistritz-in-Nuremberg-Germany.aspx">Read More</a>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <article class="mu-blog-single-item">
                                                <figure class="mu-blog-single-img">
                                                    <a href="The-Fakuma-2018-Show-in-Friedrichshafen-Germany.aspx"><img src="~/img/news/The-Fakuma-2018-Show-in-Fri.jpg" alt="img"></a>
                                                    <figcaption class="mu-blog-caption">
                                                        <b>The Fakuma 2018 Show at the Friedrichshafen Exhibition Centre in Friedrichshafen, Germany</b>
                                                    </figcaption>
                                                </figure>

                                                <div class="mu-blog-description">
                                                    <p>
                                                        Today, ColVisTec would like to invite you to join us at the Friedrichshafen Exhibition Centre for the 26th Fakuma International Trade Fair for Plastics Processing.

                                                        Taking place over five d...
                                                    </p>
                                                    <a class="mu-read-more-btn" href="The-Fakuma-2018-Show-in-Friedrichshafen-Germany.aspx">Read More</a>
                                                </div>
                                            </article>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<!-- end course content container -->*@
                            @*<!-- start course pagination -->*@
                            <div class="mu-pagination">
                                <nav>
                                    <ul class="pagination">
                                        <li class="active"><a href="#">1</a></li>
                                        <li><a href="/home/news_publications2">2</a></li>
                                        <li><a href="/home/news_publications3">3</a></li>
                                        <li>
                                            <a href="/home/news_publications2" aria-label="Next">
                                                Next <span class="fa fa-angle-right"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            @*<!-- end course pagination -->*@
                        </div>
                        <div class="col-md-12">
                            @*<!-- start sidebar -->*@
                            <aside class="mu-sidebar">
                                @*<!-- start single sidebar -->*@
                                <div class="mu-single-sidebar">
                                    <h3>Tags Cloud</h3>
                                    <div class="tag-cloud">
                                        <a href="#">inline spectroscopy</a>
                                        <a href="#">inline uv-vis spectroscopy</a>
                                        <a href="#">inline nir spectroscopy</a>
                                        <a href="#">inline process monitoring</a>
                                        <a href="#">uv-vis spectrometer</a>
                                        <a href="#">uv vis spectroscopy</a>
                                        <a href="#">continuous production</a>
                                        <a href="#">pharmaceutical manufacturing</a>
                                        <a href="#">raman spectroscopy</a>
                                        <a href="#">ir spectroscopy</a>
                                    </div>
                                </div>
                                @*<!-- end single sidebar -->*@
                            </aside>
                            @*<!-- / end sidebar -->*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>