@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}
<section id="mu-course-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-course-content-area">
                        <div class="row">
                            <div class="col-md-12 mb-25">
                                @*<!-- start course content container -->*@
                                <div class="mu-course-container mu-course-details">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="mu-latest-course-single">
                                                
                                                <div class="mu-latest-course-single-content">
                                                    <center><h1><a href="#">Privacy</a></h1></center>
                                                    <p>
                                                        By visiting our website, you are accepting the practices described in this Privacy Policy.
                                                    <br /><br />​

                                                    <b>1. OVERVIEW</b>
                                                    <br />​
                                                    ColVisTec AG and its affiliates (collectively and individually, “ColVisTec AG”) are concerned about its users and protection of their private information. Accordingly, ColVisTec AG has created this Privacy Policy (the “Policy”) that applies to the services offered by ColVisTec AG, including this website (the “Services”). ColVisTec AG strongly encourages each of its website users to take the time and become familiar with this Policy as, by using this website, you consent to the collection and use of information as set forth herein. The Policy is designed to provide you with information on how we are following the rules for data protection: which information we gather while you are browsing our website and how this information is used. In the event that ColVisTec AG desires to use a user’s Personal Information (as defined below) in a manner beyond those set forth in this Policy, ColVisTec AG will provide you with notice and the opportunity to “opt-out” of such purposes by sending an email to info@colvistec.de. On our web page, there may be links to web pages owned by third parties. This Privacy Policy does not apply to such web pages and ColVisTec AG expressly disclaims any responsibility for them.
                                                    <br />​<br />​
 

                                                    <b>2. PERSONAL INFORMATION</b>
                                                    <br />​
                                                    “Personal Information” means information that can directly or indirectly lead to the identification of a person, such as an individual’s name, address, e-mail, telephone number, license number, medical identification number, photograph, or any other identifying characteristic. The identification can occur by reference to one or more factors specific to the individual’s physical, physiological, mental, economic, cultural or social identity. Personal Information does not include information that has been encoded, anonymized or otherwise stripped of its identifiers or information that is publicly available unless combined with other non-public Personal Information.
                                                    <br />​<br />​
 

                                                    <b>3. COLLECTING AND PROCESSING PERSONAL INFORMATION</b>
                                                    <br />​
                                                    When a user creates a ColVisTec AG account or when you order or access services, the user will be required to provide certain Personal Information (including, without limitation, your full name, email address, account name, account password or other payment information). ColVisTec AG may take this information and integrate it with other information submitted by the user, other information in the possession of ColVisTec AG or other information from third parties in order to provide the richest user experience while using the Services. While ColVisTec AG takes appropriate measures to provide accuracy in the handling of Personal Information, ColVisTec AG relies entirely on its users to maintain correct Personal Information and to update this information as appropriate. In addition, when a user accesses ColVisTec AG’s website, the servers automatically record information provided by the user’s browser. Generally, this information is automatically provided by a user whenever a user accesses any website. This information, recorded in a server log, may include a user’s particular information (including, without limitation, IP address, browser software, language, date/time of access and other information and/or cookies that will uniquely identify a user’s computer and the Internet browser the user is using). In an effort to protect its users from unauthorized account activity, such as fraud or “phishing” as well as in order to improve ColVisTec AG’s services and the user’s experience, ColVisTec AG may also collect information about how a user uses the Services. Additionally, whenever you send an email to ColVisTec AG, ColVisTec AG will retain that email so that ColVisTec AG can investigate and respond to your concerns.
                                                    <br />​<br />​
 

                                                    <b>4. USE OF PERSONAL INFORMATION</b>
                                                    <br />​
                                                    Personal Information collected on this website is utilized by ColVisTec AG only as set forth in this Policy and in order to fulfill your requests for products and services, to contact you, to conduct research, and to provide Services to users, including, without limitation, delivering enhanced Services and demonstrating the functionality of the Services. ColVisTec AG may also use Personal Information submitted to send you information on products and promotions. ColVisTec AG is concerned about a user’s Personal Information. Therefore, ColVisTec AG will only share a user’s Personal Information under limited scenarios. Those scenarios include sharing it: (i) in accordance with this Privacy Policy; (ii) with a user’s consent; (iii) with ColVisTec AG’s third party providers; (iv) when required by law or public policy; or (v) when it seeks to enforce its terms and conditions. ColVisTec AG may, from time to time, share with third parties information that contains non-Personal Information. ColVisTec AG takes all reasonable measures to protect your Personal Information. To ensure the security and confidentiality of Personal Information that ColVisTec AG collects online, we use data networks protected by industry standard firewall and passwords. In the course of handling your Personal Data, ColVisTec AG takes measures reasonably designed to protect that information from loss, misuse, unauthorized access, disclosure, alteration or destruction. ColVisTec AG does not sell, rent or trade any of your Personal Information to third parties without your consent. Personal Information is not transferred to third parties unless provided for otherwise in this Privacy Policy. ColVisTec AG may store information with a third party in encrypted form on secure servers. For the purpose of sending e-mails to you provided that you have subscribed to ColVisTec AG’s news updates on the website, ColVisTec AG may give your name and email address to agencies appointed by ColVisTec AG. These agencies are not authorized to store and/or use your Personal Information for any other purposes than for the sending of e-mailings. ColVisTec AG provides each user with not only access to a user’s Personal Information but also the means to update and/or delete this information. In the event that ColVisTec AG is unable to or cannot provide a user with the ability to update and/or delete a user’s Personal Information, ColVisTec AG will notify a user via email.
                                                    <br />​<br />​
 

                                                    <b>5. PERSONAL INFORMATION AND CHILDREN</b>
                                                    <br />​
                                                    Without a parent’s or guardian’s consent, no Personal Information should be submitted to our website by children. ColVisTec AG will not knowingly collect or use Personal Information from children.
                                                    <br />​<br />​
 

                                                    <b>6. RIGHT TO OBTAIN AND CORRECT PERSONAL INFORMATION</b>
                                                    <br />​
                                                    Our users have the right to obtain information on all of your stored Personal Information, to receive, to review and, if necessary correct or erase, by sending an email to info@colvistec.de.
                                                    <br />​<br />​
 

                                                    <b>7. COOKIES</b>
                                                    <br />​
                                                    Upon a user accessing the Services, at least, one cookie (a small data file) will be sent by ColVisTec AG or a third party to a user’s computer. This cookie allows ColVisTec AG or the third party to identify the user’s computer and Internet browsing software in a unique way. These cookies allow ColVisTec AG and the third parties it uses to provide a more personalized experience for the user. Generally, the default for most Internet browsers is to accept cookies. A user, however, may choose to change these settings to notify the user when a cookie is being sent or, alternatively, to refuse transmission/receipt of all cookies. It should be noted, however, that if a user refuses transmission/receipt of all cookies, a user’s experience using the Services may be significantly affected in a negative way and, perhaps, prohibit entirely the use of the Services. In short, if a user prohibits the transmission of its Personal Information, ColVisTec AG may not be able to provide its Services to that user. Moreover, if a user would like more information about this practice and to know a user’s choices about not having this information used by third parties, please contact us at info@colvistec.de.
                                                    <br />​<br />​
 

                                                    <b>8. GOOGLE ANALYTICS – STATEMENT</b>
                                                    <br />​
                                                    This website uses Google Analytics, a web analytics service provided by Google, Inc. (“Google”). Google Analytics uses “cookies”, which are text files placed on your computer, to help the website analyze how users use the site. The information generated by the cookie about your use of the website (including your IP address) will be transmitted to and stored by Google on servers in the United States. Google will use this information for the purpose of evaluating your use of the website, compiling reports on website activity for website operators and providing other services relating to website activity and internet usage. Google may also transfer this information to third parties where required to do so by law, or where such third parties process the information on Google’s behalf. Google will not associate your IP address with any other data held by Google. You may refuse the use of cookies by selecting the appropriate settings on your browser, however, please note that if you do this you may not be able to use the full functionality of this website. By using this website, you consent to the processing of data about you by Google in the manner and for the purposes set out above. For more information, please visit Google’s privacy page.
                                                    <br />​<br />​
 

                                                    <b>9. MODIFICATIONS TO THE POLICY</b>
                                                    <br />​
                                                    ColVisTec AG reserves the right to change its Privacy Policy at any time. ColVisTec AG encourages all users to bookmark this page and check it occasionally for updates. The current version of this Policy can always be found at the end of the document. ColVisTec AG will endeavor to maintain all prior versions of this Policy.
                                                    <br />​<br />​
 

                                                    <b>10. COMPLIANCE</b>
                                                    <br />​
                                                    ColVisTec AG will perform random self-audits in order to review its compliance with the Privacy Policy. Should you have any questions regarding this Policy and ColVisTec AG’s use and/or treatment of a user’s Personal Information contact ColVisTec AG at info@colvistec.de. Upon receipt of an inquiry or complaint, ColVisTec AG will contact the user regarding the inquiry or complaint and take appropriate measures to address the user’s concerns.
                                                    <br />​<br />​
 

                                                    <b>11. CONTACT</b>
                                                    <br />​
                                                    If you have any additional questions or concerns about this Privacy Policy, please feel free to contact us anytime at info@colvistec.de.   
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*<!-- end course content container -->*@
                                @*<!-- start course content container -->*@
                                <div class="mu-course-container mu-course-details">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="mu-latest-course-single">
                                                <div class="mu-latest-course-single-content">
                                                    <hr />
                                                    <h2 class="text-center">DO YOU HAVE ANY QUESTIONS? ASK US TODAY!</h2>
                                                    <center>
                                                        <a href="mailto:info@colvistec.de?subject=Request via  Webpage"><input type="submit" value="Contact us" class="mu-post-btn" name="submit"></a>
                                                    </center>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*<!-- end course content container -->*@
                               
                            </div>
                            <div class="col-md-12">
                                @*<!-- start sidebar -->*@
                                <aside class="mu-sidebar">
                                    @*<!-- start single sidebar -->*@
                                    <div class="mu-single-sidebar">
                                        <h3>About</h3>
                                        <ul class="mu-sidebar-catg">
                                            <li><a href="/home/about">About</a></li>    
                                        </ul>
                                    </div>
                                    @*<!-- end single sidebar -->*@
                                   
                                    @*<!-- start single sidebar -->*@
                                    <div class="mu-single-sidebar">
                                        <h3>Tags Cloud</h3>
                                        <div class="tag-cloud">
                                            <a href="#">inline spectroscopy</a>
                                            <a href="#">inline uv-vis spectroscopy</a>
                                            <a href="#">inline nir spectroscopy</a>
                                            <a href="#">inline process monitoring</a>
                                            <a href="#">uv-vis spectrometer</a>
                                            <a href="#">uv vis spectroscopy</a>                                           
                                            <a href="#">continuous production</a>
                                            <a href="#">pharmaceutical manufacturing</a>
                                            <a href="#">raman spectroscopy</a>
                                            <a href="#">ir spectroscopy</a>
                                        </div>
                                    </div>
                                    @*<!-- end single sidebar -->*@
                                </aside>
                                @*<!-- / end sidebar -->*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>