@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}
<section id="mu-course-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-course-content-area">
                    <div class="row">
                        <div class="col-md-12 mb-25">
                            @*<!-- start course content container -->*@
                            <div class="mu-course-container mu-course-details">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="mu-latest-course-single">

                                            <div class="mu-latest-course-single-content">
                                                <center><h1><a href="#">TERMS</a></h1></center>
                                                <p>
                                                    Accessing and using this website indicates your consent to agree to the following terms and conditions. Please read this “Terms of Use” before accessing our website further.
                                                    <br /> <br />
                                                    ColVisTec AG may revise these terms and conditions by updating this page at any time. You are bound by any such revisions and should therefore periodically visit this page to review the current terms and conditions.
                                                    <br /> <br />
                                                    <h2>NO WARRANTY AND LIABILITY</h2>
                                                    ColVisTec AG and its affiliates make the best efforts to include accurate information on the website, but they make no warranties, as to the accuracy or completeness of the information provided on this site and disclaim any liability for the use of this site. ColVisTec AG may change this site at any time without notice but does not assume any responsibility to update it. ColVisTec AG makes no warranties and assumes no liability in connection with any use of this publication and all agree that all access and use of this site and of any site linked to from this site and the information contained herein and therein are at their own risk. Neither ColVisTec AG nor any other party involved in creating this site is liable for any direct, incidental, special, consequential, indirect or punitive damages or other damages arising out of your access to or use of this site, including but not limited to viruses or malware that may infect your computer equipment or software and any damages for lost profits, business interruption, loss of programs or other data on your information system or otherwise, even if ColVisTec AG or other person or entity is advised of the possibility of such damages and whether such damages arise in an action of contract, negligence or other tortious or legal action.
                                                    <br /><br />
                                                    <h2>LIMITED USE </h2>
                                                    ColVisTec AG hereby grants you the right to display, store and reproduce copies of this publication for personal use subject to the following conditions:
                                                    <br /><br />
                                                    1. The publication may be used for internal purposes only and may not be sold or distributed for commercial or political purposes;
                                                    <br />
                                                    2. The publication may not be modified, diffused, reposted or transmitted in any respect;
                                                    <br />
                                                    3. The copyright notice must appear on every copy of the work or portion thereof.
                                                    <br /><br />
                                                    <h2>SERVICES USE AND RECOMMENDATIONS</h2>
                                                    This site has been designed to provide general information about ColVisTec AG and its services. This site is not intended to provide any instruction on the appropriate use of services supplied by ColVisTec AG. Notwithstanding any such recommendations, you as the user of such services must make your own determination and satisfy yourself that the services supplied by ColVisTec AG and the information given by ColVisTec AG are (i) suitable for intended process or purpose, (ii) are in compliance with environmental, health and safety regulations, and other regulations in the regions and countries where they are purchased, offered for sale, marketed, sold, and used  and (iii) will not infringe any third party’s intellectual property rights.
                                                    <br /><br />
                                                    <h2>CONSENT TO MONITORING </h2>
                                                    ColVisTec AG is under no obligation to monitor the information residing on or transmitted to this website. When using the website, anyone using this website agrees that ColVisTec AG may monitor the web site contents periodically to (a) comply with any necessary laws, regulations or other governmental requests; (b) operate the website properly, or (c) protect itself and its users. ColVisTec AG, in its sole discretion, reserves the right to modify, reject or eliminate any information residing on or transmitted to its website.
                                                    <br /><br />
                                                    <h2>SUBMISSIONS TO THIS WEBSITE ARE NOT IN CONFIDENCE</h2>
                                                    ColVisTec AG does not want to receive proprietary information from you through this website. Should any user of information on this website provide ColVisTec AG with information, including but not limited to feedback, data, answers, questions, comments, suggestions, plans, ideas or the like, such information shall be deemed to be unsolicited, nonproprietary and non-confidential and shall become the property of ColVisTec AG. ColVisTec AG assumes no obligation to protect such information from disclosure, subject to the Privacy Policy below with respect to user personal information. The submission of such information to ColVisTec AG shall in no way prevent the purchase, manufacture or use of similar products, services, plans and ideas by ColVisTec AG for any purpose whatever and ColVisTec AG shall have an unrestricted and irrevocable right to reproduce, use, publish, broadcast, disclose, display, perform, modify, transmit and distribute the information to others without restriction and without compensation, subject to the Privacy Policy below with respect to user personal information.
                                                    <br /><br />
                                                    You are prohibited from posting or transmitting any unlawful, threatening, libelous, defamatory, obscene, scandalous, inflammatory, pornographic, or profane material or any material that could constitute or encourage conduct that would be considered a criminal offense, give rise to civil liability, or otherwise violate any law. ColVisTec AG will fully cooperate with any law enforcement authorities or court order requesting or directing ColVisTec AG to disclose the identity of or help identify or locate anyone posting any such information or materials subject to privacy laws.
                                                    <br /><br />
                                                    <h2>REGISTERED USER RESPONSIBILITIES</h2>
                                                    Upon a user accessing the Services, at least, one cookie (a small data file) will be sent by ColVisTec AG or a third party to a user’s computer. For those websites or portions of websites requiring users to be registered and to log in using an ID and/or a password, registered website users are responsible for maintaining the confidentiality of their user IDs and passwords. Registered users shall notify ColVisTec AG at info@colvistec.de if their user ID and password are lost or stolen, if there is any change in their authorization or access for use of the password, or if their registered authorizations are revoked. Registered users agree that they will not provide their user ID and password to any other person and that any purported transfer, assignment or sublicense of the limited and revocable rights granted under these terms and conditions shall be void. Some of the information included on this website were taken in its entirety from written materials previously distributed publicly by ColVisTec AG. All information included on this website speaks as of the date it was first published in print or as of the date, it was published on this website or as of the actual date that appears on such particular information, whichever date is earliest. Republication on this website of previously distributed or printed material means that it was not updated from its date of original distribution or printing. Interested persons are referred to the regular financial media for news of important developments concerning ColVisTec AG.
                                                    <br /><br />
                                                    <h2>DISCLAIMER</h2>
                                                    Reference herein to any services, processes, links to third parties or other information by third parties or to any trade name, trademark, manufacturer, and supplier or otherwise does not necessarily constitute or imply the endorsement, approval, sponsorship or recommendation by ColVisTec AG. Service information is the sole responsibility of each individual vendor. Your linking from this website to any other website is at your own risk and is for convenience only. ColVisTec AG does not express any opinion on the content of such third party information or sites and expressly disclaims any liability for all third party information and the use of it.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<!-- end course content container -->
                            <!-- start course content container -->*@
                            <div class="mu-course-container mu-course-details">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="mu-latest-course-single">

                                            <div class="mu-latest-course-single-content">
                                                <hr />
                                                <h2 class="text-center">DO YOU HAVE ANY QUESTIONS? ASK US TODAY!</h2>

                                                <center>
                                                    <a href="mailto:info@colvistec.de?subject=Request via  Webpage"><input type="submit" value="Contact us" class="mu-post-btn" name="submit"></a>
                                                </center>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<!-- end course content container -->*@

                        </div>
                        <div class="col-md-12">
                            @*<!-- start sidebar -->*@
                            <aside class="mu-sidebar">
                                @*<!-- start single sidebar -->*@
                                <div class="mu-single-sidebar">
                                    <h3>About</h3>
                                    <ul class="mu-sidebar-catg">
                                        <li><a href="/home/about">About</a></li>
                                    </ul>
                                </div>
                                @*<!-- end single sidebar -->
                                <!-- start single sidebar -->*@
                                <div class="mu-single-sidebar">
                                    <h3>Tags Cloud</h3>
                                    <div class="tag-cloud">
                                        <a href="#">inline spectroscopy</a>
                                        <a href="#">inline uv-vis spectroscopy</a>
                                        <a href="#">inline nir spectroscopy</a>
                                        <a href="#">inline process monitoring</a>
                                        <a href="#">uv-vis spectrometer</a>
                                        <a href="#">uv vis spectroscopy</a>
                                        <a href="#">continuous production</a>
                                        <a href="#">pharmaceutical manufacturing</a>
                                        <a href="#">raman spectroscopy</a>
                                        <a href="#">ir spectroscopy</a>
                                    </div>
                                </div>
                                @*<!-- end single sidebar -->*@
                            </aside>
                            @*<!-- / end sidebar -->*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>